// ==========================================================================
// FORM ELEMENTS
// ==========================================================================

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}

$form-spacing-unit:                     halve($base-spacing-unit) !default;
$form-font-size:                        $base-font-size !default;
$form-label-font-size:                  14px !default;
$form-border-style:                     solid !default;
$form-border-width:                     1px !default;
$form-border-color:                     #ccc !default;
$form-border-color-hover:               #aaa !default;
$form-border-radius:                    $base-radius;

$form-input-padding:                    halve($form-spacing-unit) !default;
$form-input-height:                     30px !default;
$form-input-bg:                         #fff !default;
$form-input-margin-bottom:              halve($form-spacing-unit) !default;
$form-label-margin-bottom:              quarter($form-spacing-unit) !default;

// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
// Correct `select` style inheritance in Firefox.
button,
select {
  text-transform: none;
}


// Define consistent border, margin, and padding.
fieldset {
  border: $form-border-width $form-border-style $form-border-color;
  margin: 0;
  // padding: .35em .625em .75em;
  padding: $base-spacing-unit;
}


// 1. Correct `color` not being inherited in IE 8/9/10/11.
// 2. Remove padding so people aren't caught out if they zero out fieldsets.
legend {
  border: 0; // 1
  padding: 0; // 2
}

label {
  display: block;
  font-size: $form-label-font-size;
  font-weight: 500;
  margin-bottom: rem-calc($form-label-margin-bottom);
  // &.required:after {
  //   content: "*";
  //   color: color('alert');
  // }

  abbr {
    display: none;
  }
}

select,
textarea,
input {
  @include transition(border-color);

  display: block;
  width: 100%;
  margin-bottom: rem-calc(halve($form-spacing-unit));
  padding: rem-calc($form-spacing-unit);
  background-color: $form-input-bg;
  height: rem-calc($form-input-height);
  line-height: normal;

  border-width: $form-border-width;
  border-style: $form-border-style;
  border-color: $form-border-color;
  border-radius: $form-border-radius;

  &:hover,
  &:focus {
    border-color: $form-border-color-hover;
  }
  &:focus {
    outline: none;
  }
}


// Remove default vertical scrollbar in IE 8/9/10/11.
textarea {
  overflow: auto;
  resize: vertical;
  height: $form-spacing-unit * 8;
}


// Remove inner padding and search cancel button in Safari and Chrome on OS X.
// Safari (but not Chrome) clips the cancel button when the search input has
// padding (and `textfield` appearance).
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 2px;
  display: inline-block;
  padding: 0;
}
