/* ==========================================================================
   GRIDS
   ========================================================================== */
/**
 * Fully customizable and responsive CSS grids.
 *
 * Here we set a variable assuming that default and module settings
 * are not set globally. If they have been previously been defined,
 * the following variable will be overriden and will be set to `true`.
 */


$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?"
}

/*
   Grids settings.
   ========================================================================== */

/**
 * We use these as default total columns throughout the framework.
 */
$columns-total:                         12 !default;
$columns-gutter:                        $base-spacing-unit !default;
$container-width:                       1000px !default;
$default-float:                         left !default;
$opposite-float:                        right !default;

$enable-xl-grid-classes:                false !default;
$enable-xxl-grid-classes:               false !default;



/*
   Default grid classess=
   ========================================================================== */
$enable-default-grid-classes:           true !default;

$enable-grid-flush:                     false !default;
$enable-grid-pull:                      false !default;
$enable-grid-push:                      false !default;
$enable-grid-offset:                    false !default;
$enable-grid-reset:                     false !default;
$enable-grid-centered:                  false !default;
$enable-grid-uncentered:                false !default;




/*
   Old school minimal grid classes
   ========================================================================== */

$enable-old-school-grid-classes:        false !default;

$enable-grid-half:                      false !default;
$enable-grid-third:                     false !default;
$enable-grid-fourth:                    false !default;
$enable-grid-fifth:                     false !default;


// standard full width grid
.layout {
  @include grid-row;

  @if $enable-grid-flush {

    &.layout--flush {
      > .layout__unit{
        @include grid-column($flush:true, $float:false);
      }
      .layout {
        margin-left:0;
        margin-right:0;
      }
    }

  }

  .layout {
    @include grid-row($behavior:nested);

    @if $enable-grid-flush {

      &.layout--flush {
        @include grid-row($behavior:nested-flush);
      }

    }

  }
}

.layout__unit{
  @include grid-column($columns:false, $position:true);
}

.layout__unit { @include grid-column($columns:full); }

.layout__unit + .layout__unit:last-child { float: $opposite-float; }
.layout__unit + .layout__unit.end { float: $default-float; }

// Create default presentational classes for grid
//
// $size - Name of class to use, i.e. "large" will generate .large-1, .large-2, etc.
@mixin generate-default-grid-classes($size) {

  @for $i from 1 through $columns-total {
    .#{$size}-#{$i}-#{$columns-total} { @include grid-column($columns:$i,$flush:null,$float:false); }
  }

  @if $enable-grid-push{

    @for $i from 0 through $columns-total - 1 {
      .#{$size}-push-#{$i}-#{$columns-total} {
        @include grid-column($push:$i, $flush:null, $float:false);
      }
    }

  }

  @if $enable-grid-pull{

    @for $i from 0 through $columns-total - 1 {
      .#{$size}-pull-#{$i}-#{$columns-total} {
        @include grid-column($pull:$i, $flush:null, $float:false);
      }
    }

  }

  @if $enable-grid-offset{

    @for $i from 0 through $columns-total - 1 {
      .#{$size}-offset-#{$i}-#{$columns-total} { @include grid-column($offset:$i, $flush:null,$float:false); }
    }

  }

  @if $enable-grid-reset{

    .#{$size}-reset-order {
      margin-#{$default-float}: 0;
      margin-#{$opposite-direction}: 0;
      left: auto;
      right: auto;
      float: $default-float;
    }

  }

  @if $enable-grid-centered{

    .layout__unit.#{$size}-centered {
      @include grid-column($center:true, $flush:null, $float:false);
    }
    // Fighting [class*="column"] + [class*="column"]:last-child
    .layout__unit.#{$size}-centered:last-child{
      float: none;
    }

  }


  @if $enable-grid-uncentered{

    .layout__unit.#{$size}-uncentered {
      margin-#{$default-float}: 0;
      margin-#{$opposite-float}: 0;
      float: $default-float;
    }

    // Fighting .column.<previous-size>-centered:last-child
    .layout__unit.#{$size}-uncentered:last-child {
      float: $default-float;
    }

    .layout__unit.#{$size}-uncentered.opposite {
      float: $opposite-direction;
    }

  }
}

@if $enable-default-grid-classes {

  @media #{$small-up} {
    @include generate-default-grid-classes($size:small);
  }

  @media #{$medium-up} {
    @include generate-default-grid-classes($size:medium);
  }

  @media #{$large-up} {
    @include generate-default-grid-classes($size:large);
  }

  // if include xl grid classes
  @if $enable-xl-grid-classes {
    @media #{$xlarge-up} {
      @include generate-default-grid-classes($size:xlarge);
    }
  }

  // if include xxl grid classes
  @if $enable-xxl-grid-classes {
    @media #{$xxlarge-up} {
      @include generate-default-grid-classes($size:xxlarge);
    }
  }
}


@mixin generate-old-school-grid-classes($size, $total-col: false){

  @for $i from 1 through $total-col - 1 {
    @if percentage(($i / $total-col)) != 50% or $total-col == 2 {
      .#{$size}-#{$i}-#{$total-col} { @include grid-column($columns:$i,$total-columns: $total-col, $flush:null,$float:false); }
    }
  }
}

@if $enable-old-school-grid-classes {

  // small grid rules collection
  @media #{$small-up} {
    @if $enable-grid-half {
      @include generate-old-school-grid-classes($size:small, $total-col: 2);
    }
    @if $enable-grid-third {
      @include generate-old-school-grid-classes($size:small, $total-col: 3);
    }
    @if $enable-grid-fourth {
      @include generate-old-school-grid-classes($size:small, $total-col: 4);
    }
    @if $enable-grid-fifth {
      @include generate-old-school-grid-classes($size:small, $total-col: 5);
    }
  }

  // medium grid rules collection
  @media #{$medium-up} {
    @if $enable-grid-half {
      @include generate-old-school-grid-classes($size:medium, $total-col: 2);
    }
    @if $enable-grid-third {
      @include generate-old-school-grid-classes($size:medium, $total-col: 3);
    }
    @if $enable-grid-fourth {
      @include generate-old-school-grid-classes($size:medium, $total-col: 4);
    }
    @if $enable-grid-fifth {
      @include generate-old-school-grid-classes($size:medium, $total-col: 5);
    }
  }

  // large grid rules collection
  @media #{$large-up} {
    @if $enable-grid-half {
      @include generate-old-school-grid-classes($size:large, $total-col: 2);
    }
    @if $enable-grid-third {
      @include generate-old-school-grid-classes($size:large, $total-col: 3);
    }
    @if $enable-grid-fourth {
      @include generate-old-school-grid-classes($size:large, $total-col: 4);
    }
    @if $enable-grid-fifth {
      @include generate-old-school-grid-classes($size:large, $total-col: 5);
    }
  }

  // if include xl grid classes collection
  @if $enable-xl-grid-classes {
    @media #{$xlarge-up} {
      @if $enable-grid-half {
        @include generate-old-school-grid-classes($size:xlarge, $total-col: 2);
      }
      @if $enable-grid-third {
        @include generate-old-school-grid-classes($size:xlarge, $total-col: 3);
      }
      @if $enable-grid-fourth {
        @include generate-old-school-grid-classes($size:xlarge, $total-col: 4);
      }
      @if $enable-grid-fifth {
        @include generate-old-school-grid-classes($size:xlarge, $total-col: 5);
      }
    }
  }

  // if include xxl grid classes
  @if $enable-xxl-grid-classes {
    @media #{$xxlarge-up} {
      @if $enable-grid-half {
        @include generate-old-school-grid-classes($size:xxlarge, $total-col: 2);
      }
      @if $enable-grid-third {
        @include generate-old-school-grid-classes($size:xxlarge, $total-col: 3);
      }
      @if $enable-grid-fourth {
        @include generate-old-school-grid-classes($size:xxlarge, $total-col: 4);
      }
      @if $enable-grid-fifth {
        @include generate-old-school-grid-classes($size:xxlarge, $total-col: 5);
      }
    }
  }

}