/*
   High Level Colors Setting
   ========================================================================== */
/**
 * We use these as default colors throughout
 */
$color-primary:                         #3A539B !default; // CHAMBRAY
$color-secondary:                       #bdc3c7 !default; // SILVER
$color-alert:                           #EF4836 !default; // FLAMINGO
$color-success:                         #2ECC71 !default; // SHAMROCK
$color-warning:                         #F7CA18 !default; // RIPE LEMON
$color-info:                            #3498DB !default; // CURIOUS BLUE