/*
   Grids settings.
   ========================================================================== */

/**
 * We use these as default total columns throughout the framework.
 * Ref: http://www.foundation.zurb.com/
 */
$columns-total:        12;
$columns-gutter:       $base-spacing-unit;
$container-width:      1000px;

/**
 * If we have included this file, set a variable to tell the rest of the
 * framework that we have some grid settings.
 */

$grid-settings-imported: true;