/* ==========================================================================
   BOX
   ========================================================================== */
/**
 * The box object simply boxes off content.
 */


// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?"
}


$box-namespace:                      $namespace !default;

$box-padding:                        $base-spacing-unit !default;
$box-padding--tiny:                  quarter($box-padding) !default;
$box-padding--small:                 half($box-padding) !default;
$box-padding--large:                 double($box-padding) !default;
$box-padding--huge:                  quadruple($box-padding) !default;

$enable-box--flush:                  false !default;
$enable-box--tiny:                   false !default;
$enable-box--small:                  false !default;
$enable-box--large:                  false !default;
$enable-box--huge:                   false !default;

$enable-box--primary:                false !default;
$enable-box--secondary:              false !default;
$enable-box--alert:                  false !default;
$enable-box--success:                false !default;
$enable-box--warning:                false !default;
$enable-box--info:                   false !default;


/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.#{$box-namespace}box,
%#{$box-namespace}box {
  @extend %clearfix;
  display: block; /* [1] */
  padding: $box-padding;
  background-color: $color-secondary;

  > :last-child {
    margin-bottom: 0;
  }

}


@if ($enable-box--primary == true) {
  /**
   * Box Colors (i.e. no padding) box.
   */
  .#{$box-namespace}box--primary,
  %#{$box-namespace}box--primary {
    background-color: $color-primary;


    // We control the text color for you based on the background color.
    $bg-lightness: lightness($color-primary);
    color: if($bg-lightness > 70%, $base-text-color, $base-text-color-alt);
  }
}/* close box--primary */

@if ($enable-box--alert == true) {
  .#{$box-namespace}box--alert,
  %#{$box-namespace}box--alert {
    background-color: $color-alert;

    // We control the text color for you based on the background color.
    $bg-lightness: lightness($color-alert);
    color: if($bg-lightness > 70%, $base-text-color, $base-text-color-alt);
  }
}/* close box--alert */

@if ($enable-box--success == true) {
  .#{$box-namespace}box--success,
  %#{$box-namespace}box--success {
    background-color: $color-success;

    // We control the text color for you based on the background color.
    $bg-lightness: lightness($color-success);
    color: if($bg-lightness > 70%, $base-text-color, $base-text-color-alt);
  }
}/* close box--success */

@if ($enable-box--warning == true) {
  .#{$box-namespace}box--warning,
  %#{$box-namespace}box--warning {
    background-color: $color-warning;

    // We control the text color for you based on the background color.
    $bg-lightness: lightness($color-warning);
    color: if($bg-lightness > 70%, $base-text-color, $base-text-color-alt);
  }
}/* close box--warning */

@if ($enable-box--info == true) {
  .#{$box-namespace}box--info,
  %#{$box-namespace}box--info {
    background-color: $color-info;

    // We control the text color for you based on the background color.
    $bg-lightness: lightness($color-info);
    color: if($bg-lightness > 70%, $base-text-color, $base-text-color-alt);
  }
}/* close box--info */


@if ($enable-box--flush == true) {

  /**
   * Flush (i.e. no padding) box.
   */
   .#{$box-namespace}box--flush,
   %#{$box-namespace}box--flush {
    padding: 0;
  }

}

  @if ($enable-box--tiny == true) {

    /**
     * Tiny box.
     */
    .#{$box-namespace}box--tiny,
    %#{$box-namespace}box--tiny {
      padding: $box-padding--tiny;
    }

  }

  @if ($enable-box--small == true) {

    /**
     * Small box.
     */
    .#{$box-namespace}box--small,
    %#{$box-namespace}box--small {
      padding: $box-padding--small;
    }

  }

  @if ($enable-box--large == true) {

    /**
     * Large box.
     */

    .#{$box-namespace}box--large,
    %#{$box-namespace}box--large {
      padding: $box-padding--large;
    }

  }

  @if ($enable-box--huge == true) {

    /**
     * Huge box.
     */

    .#{$box-namespace}box--huge,
    %#{$box-namespace}box--huge {
      padding: $box-padding--huge;
    }

  }