/* ==========================================================================
   WIDTHS
   ========================================================================== */

/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.2/3`) or a spoken-
 * word format (e.g. `two-thirds`). Toggle formats by overriding the
 * `$use-fractions` variable defined below.
 */

// Predefine the variables below in order to alter and enable specific features.
$widths-namespace: $namespace !default;
$use-fractions:    true !default;

@if $use-fractions == true {

  /**
   * Whole.
   */
  [class~="#{$widths-namespace}1/1"]       { width: 100% !important; }

  /**
   * Halves.
   */
  [class~="#{$widths-namespace}1/2"],
  [class~="#{$widths-namespace}2/4"],
  [class~="#{$widths-namespace}3/6"],
  [class~="#{$widths-namespace}4/8"],
  [class~="#{$widths-namespace}5/10"],
  [class~="#{$widths-namespace}6/12"]      { width: 50% !important; }

  /**
   * Thirds.
   */
  [class~="#{$widths-namespace}1/3"],
  [class~="#{$widths-namespace}2/6"],
  [class~="#{$widths-namespace}3/9"],
  [class~="#{$widths-namespace}4/12"]      { width: 33.3333333% !important; }
  [class~="#{$widths-namespace}2/3"],
  [class~="#{$widths-namespace}4/6"],
  [class~="#{$widths-namespace}6/9"],
  [class~="#{$widths-namespace}8/12"]      { width: 66.6666666% !important; }

  /**
   * Quarters.
   */
  [class~="#{$widths-namespace}1/4"],
  [class~="#{$widths-namespace}2/8"],
  [class~="#{$widths-namespace}3/12"]      { width: 25% !important; }
  [class~="#{$widths-namespace}3/4"],
  [class~="#{$widths-namespace}6/8"],
  [class~="#{$widths-namespace}9/12"]      { width: 75% !important; }

  /**
   * Fifths.
   */
  [class~="#{$widths-namespace}1/5"],
  [class~="#{$widths-namespace}2/10"]      { width: 20% !important; }
  [class~="#{$widths-namespace}2/5"],
  [class~="#{$widths-namespace}4/10"]      { width: 40% !important; }
  [class~="#{$widths-namespace}3/5"],
  [class~="#{$widths-namespace}6/10"]      { width: 60% !important; }
  [class~="#{$widths-namespace}4/5"],
  [class~="#{$widths-namespace}8/10"]      { width: 80% !important; }

  /**
   * Sixths.
   */
  [class~="#{$widths-namespace}1/6"],
  [class~="#{$widths-namespace}2/12"]      { width: 16.6666666% !important; }
  [class~="#{$widths-namespace}5/6"],
  [class~="#{$widths-namespace}10/12"]     { width: 83.3333333% !important; }
  /**
   * Eighths.
   */
  [class~="#{$widths-namespace}1/8"]       { width: 12.5% !important; }
  [class~="#{$widths-namespace}3/8"]       { width: 37.5% !important; }
  [class~="#{$widths-namespace}5/8"]       { width: 62.5% !important; }
  [class~="#{$widths-namespace}7/8"]       { width: 87.5% !important; }

  /**
   * Ninths.
   */
  [class~="#{$widths-namespace}1/9"]       { width: 11.1111111% !important; }
  [class~="#{$widths-namespace}2/9"]       { width: 22.2222222% !important; }
  [class~="#{$widths-namespace}4/9"]       { width: 44.4444444% !important; }
  [class~="#{$widths-namespace}5/9"]       { width: 55.5555555% !important; }
  [class~="#{$widths-namespace}7/9"]       { width: 77.7777777% !important; }
  [class~="#{$widths-namespace}8/9"]       { width: 88.8888888% !important; }

  /**
   * Tenths.
   */
  [class~="#{$widths-namespace}1/10"]      { width: 10% !important; }
  [class~="#{$widths-namespace}3/10"]      { width: 30% !important; }
  [class~="#{$widths-namespace}7/10"]      { width: 70% !important; }
  [class~="#{$widths-namespace}9/10"]      { width: 90% !important; }

  /**
   * Twelfths.
   */
  [class~="#{$widths-namespace}1/12"]      { width:  8.3333333% !important; }
  [class~="#{$widths-namespace}5/12"]      { width: 41.6666666% !important; }
  [class~="#{$widths-namespace}7/12"]      { width: 58.3333333% !important; }
  [class~="#{$widths-namespace}11/12"]     { width: 91.6666666% !important; }

} // Close fractions @if.


@else {

  /**
   * Whole.
   */
  .#{$widths-namespace}one-whole           { width: 100% !important; }

  /**
   * Halves.
   */
  .#{$widths-namespace}one-half,
  .#{$widths-namespace}two-quarters,
  .#{$widths-namespace}three-sixths,
  .#{$widths-namespace}four-eighths,
  .#{$widths-namespace}five-tenths,
  .#{$widths-namespace}six-twelfths        { width: 50% !important; }

  /**
   * Thirds.
   */
  .#{$widths-namespace}one-third,
  .#{$widths-namespace}two-sixths,
  .#{$widths-namespace}three-ninths,
  .#{$widths-namespace}four-twelfths       { width: 33.3333333% !important; }
  .#{$widths-namespace}two-thirds,
  .#{$widths-namespace}four-sixths,
  .#{$widths-namespace}six-ninths,
  .#{$widths-namespace}eight-twelfths      { width: 66.6666666% !important; }

  /**
   * Quarters.
   */
  .#{$widths-namespace}one-quarter,
  .#{$widths-namespace}two-eighths,
  .#{$widths-namespace}three-twelfths      { width: 25% !important; }
  .#{$widths-namespace}three-quarters,
  .#{$widths-namespace}six-eighths,
  .#{$widths-namespace}nine-twelfths       { width: 75% !important; }

  /**
   * Fifths.
   */
  .#{$widths-namespace}one-fifth,
  .#{$widths-namespace}two-tenths          { width: 20% !important; }
  .#{$widths-namespace}two-fifths,
  .#{$widths-namespace}four-tenths         { width: 40% !important; }
  .#{$widths-namespace}three-fifths,
  .#{$widths-namespace}six-tenths          { width: 60% !important; }
  .#{$widths-namespace}four-fifths,
  .#{$widths-namespace}eight-tenths        { width: 80% !important; }

  /**
   * Sixths.
   */
  .#{$widths-namespace}one-sixth,
  .#{$widths-namespace}two-twelfths        { width: 16.6666666% !important; }
  .#{$widths-namespace}five-sixths,
  .#{$widths-namespace}ten-twelfths        { width: 83.3333333% !important; }

  /**
   * Eighths.
   */
  .#{$widths-namespace}one-eighth          { width: 12.5% !important; }
  .#{$widths-namespace}three-eighths       { width: 37.5% !important; }
  .#{$widths-namespace}five-eighths        { width: 62.5% !important; }
  .#{$widths-namespace}seven-eighths       { width: 87.5% !important; }

  /**
   * Ninths.
   */
  .#{$widths-namespace}one-ninth           { width: 11.1111111% !important; }
  .#{$widths-namespace}two-ninths          { width: 22.2222222% !important; }
  .#{$widths-namespace}four-ninths         { width: 44.4444444% !important; }
  .#{$widths-namespace}five-ninths         { width: 55.5555555% !important; }
  .#{$widths-namespace}seven-ninths        { width: 77.7777777% !important; }
  .#{$widths-namespace}eight-ninths        { width: 88.8888888% !important; }

  /**
   * Tenths.
   */
  .#{$widths-namespace}one-tenth           { width: 10% !important; }
  .#{$widths-namespace}three-tenths        { width: 30% !important; }
  .#{$widths-namespace}seven-tenths        { width: 70% !important; }
  .#{$widths-namespace}nine-tenths         { width: 90% !important; }

  /**
   * Twelfths.
   */
  .#{$widths-namespace}one-twelfth         { width:  8.3333333% !important; }
  .#{$widths-namespace}five-twelfths       { width: 41.6666666% !important; }
  .#{$widths-namespace}seven-twelfths      { width: 58.3333333% !important; }
  .#{$widths-namespace}eleven-twelfths     { width: 91.6666666% !important; }

} // Close fractions @if.