/*
   High-level base settings.
   ========================================================================== */
/**
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */

$base-font-family:                     "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:                       16px !default;
$base-font-weight:                     normal !default;

$base-line-height:                     24px !default;
$base-text-color:                      #333 !default;
$base-background-color:                #fff !default;

$base-spacing-unit:                    $base-line-height !default;

$base-radius:                          3px !default;
