// ==========================================================================
// Buttons
// ==========================================================================

//
// This is an example simple buttons component.
// Extend the framework by building your own components that make up your UI.
//


// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included a global settings files?";
}


//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Fixes odd inner spacing in IE7.
//

.#{$global-namespace}btn {
  display: inline-block; // 1
  vertical-align: middle; // 2
  font: inherit; // 3
  line-height: normal; // 4
  text-align: center; // 4
  margin:  0; // 4
  cursor: pointer; // 5
  overflow: visible; // 6
  padding: rem-calc($global-spacing-unit--small $global-spacing-unit);
  border-radius: $global-radius;
  transition: all .3s ease-out;
}




//
// Color variants
// ==========================================================================

.#{$global-namespace}btn--primary {
  background-color: #4a8ec2;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; // 4
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #3774a2;
  }
}


.#{$global-namespace}btn--secondary {
  background-color: #2f4054;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #1d2733;
  }

}




//
// Size variants
// ==========================================================================

.#{$global-namespace}btn--small {
  padding: rem-calc($global-spacing-unit--tiny $global-spacing-unit--small);
}

.#{$global-namespace}btn--large {
  padding: rem-calc($global-spacing-unit $global-spacing-unit--large);
}




//
// Style variants [Pill | Full | Ghost | Disabled]
// ==========================================================================

// Pill
.#{$global-namespace}btn--pill {
  border-radius: 100px;
}


// FUll
.#{$global-namespace}btn--full {
  width: 100%;
}


// Ghost
// This buttons have see-through backgrounds and are bordered.

$btn-ghost-border-width: 2px;

.#{$global-namespace}btn--ghost {
  border: $btn-ghost-border-width solid currentColor;
  padding: ($global-spacing-unit--small - $btn-ghost-border-width) ($global-spacing-unit - $btn-ghost-border-width);

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.#{$global-namespace}btn--small {
    padding: rem-calc(($global-spacing-unit--tiny - $btn-ghost-border-width) ($global-spacing-unit--small - $btn-ghost-border-width));
  }

  &.#{$global-namespace}btn--large {
    padding: rem-calc(($global-spacing-unit - $btn-ghost-border-width) ($global-spacing-unit--large - $btn-ghost-border-width));
  }

  &.#{$global-namespace}btn--primary {
    color: #4a8ec2;

    &:hover,
    &:focus {
      color: #3774a2;
    }

  }

  &.#{$global-namespace}btn--secondary {
    color: #2f4054;

    &:hover,
    &:focus {
      color: #1d2733;
    }

  }

}

// Disabled buttons.
// 1. make it little bit transparent
// 2. show not allowed cursor when hover

button[disabled],
.#{$global-namespace}btn--disabled {
  opacity: .5;
  &:hover,
  &:focus,
  &:active {
    cursor: not-allowed;
  }
}
