// ==========================================================================
// Buttons
// ==========================================================================

//
// This is an example simple buttons component.
// Extend the framework by building your own components that make up your UI.
//


// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included a global settings files?";
}


// Variable(s)
$btn-border-width:              1px !default;
$btn-ghost-border-width:        2px !default;
$btn-disabled-opacity:          .6 !default;
$btn-font-weight:               400 !default;

$btn-height:                    36px !default;
$btn-height--small:             30px !default;
$btn-height--large:             42px !default;

$btn-font-size:                 $global-font-size !default;
$btn-font-size--small:          $global-font-size - 2px !default;
$btn-font-size--large:          $global-font-size + 2px !default;

$enable-btn--small:             false !default;
$enable-btn--large:             false !default;

$enable-btn--pill:              false !default;
$enable-btn--block:             false !default;

$enable-btn--ghost:             false !default;

$enable-btn-group:              false !default;
$enable-btn-group--equal:       false !default;

$btn-default-bg-color:          #f5f5f5 !default;
$btn-default-bg-color--hover:   color-level($btn-default-bg-color, -1) !default;
$btn-default-bg-color--active:  color-level($btn-default-bg-color, -2) !default;
$btn-default-border-color:      color-level($btn-default-bg-color, -2) !default;
$btn-default-text-color:        #333 !default;

$btn-primary-bg-color:          #3498db !default;
$btn-primary-bg-color--hover:   color-level($btn-primary-bg-color, -1) !default;
$btn-primary-bg-color--active:  color-level($btn-primary-bg-color, -2) !default;
$btn-primary-border-color:      color-level($btn-primary-bg-color, -2) !default;
$btn-primary-text-color:        #fff !default;
$enable-btn--primary:           false !default;


//
// Private variable only, do not alter anything below!
// ==========================================================================
// Button height formula to find padding top and bottom
// btn-height = base-line-height + (padding: top + bottom) + (border top + bottom)
//
// 36 = 20 + ? + 2
// 36 - 20 - 2 = ?
//
$btn-default-padding: $btn-height - $global-line-height - double($btn-border-width);
$btn-small-padding: $btn-height--small - $global-line-height - double($btn-border-width);
$btn-large-padding: $btn-height--large - $global-line-height - double($btn-border-width);

$btn-ghost-default-padding: $btn-height - $global-line-height - double($btn-ghost-border-width);
$btn-ghost-small-padding: $btn-height--small - $global-line-height - double($btn-ghost-border-width);
$btn-ghost-large-padding: $btn-height--large - $global-line-height - double($btn-ghost-border-width);


//
// 1. Allow us to style box model properties.
// 2. Line different sized buttons up a little nicer.
// 3. Make buttons inherit font styles (often necessary when styling `input`s as
//    buttons).
// 4. Reset/normalize some styles.
// 5. Force all button-styled elements to appear clickable.
// 6. Fixes odd inner spacing in IE7.
// 7. Subtract the border size from the padding value so that buttons do not
//    grow larger as we add borders.
//
.c-btn {
  display: inline-block; // 1
  vertical-align: middle; // 2
  height: rem-calc($btn-height);
  margin: 0; // 4
  padding: rem-calc(halve($btn-default-padding) ($global-spacing-unit - $btn-border-width)); // 7

  font: inherit; // 3
  font-weight: $btn-font-weight;
  outline: none;
  text-align: center; // 4

  cursor: pointer; // 5

  overflow: visible; // 6

  border-radius: $global-border-radius;
  transition: all .3s ease-out;

  border-style: solid;
  border-width: $btn-border-width;

  border-color: $btn-default-border-color;
  background-color: $btn-default-bg-color;

  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none; // 4
    color: $btn-default-text-color;
  }

  &:hover,
  &:focus {
    background-color: $btn-default-bg-color--hover;
  }

  &:active {
    background-color: $btn-default-bg-color--active;
  }

}

.c-btn__icon,
.c-btn__text {
  display: inline-block;
  vertical-align: middle;
}


// Disabled buttons.
// 1. make it little bit transparent
// 2. show not allowed cursor when hover

// scss-lint:disable QualifyingElement
button[disabled],
.c-btn--disabled {
  opacity: $btn-disabled-opacity; // 1

  &,
  &:hover,
  &:focus,
  &:active {
    cursor: not-allowed; // 2
  }
}


//
// Size variants
// ==========================================================================
@if ($enable-btn--small == true){
  .c-btn--small {
    @include font-size($btn-font-size--small, none);
    height: rem-calc($btn-height--small);
    padding: rem-calc(halve($btn-small-padding) ($global-spacing-unit--small - $btn-border-width)); // 7
  }
}


@if ($enable-btn--large == true){
  .c-btn--large {
    @include font-size($btn-font-size--large, none);
    height: rem-calc($btn-height--large);
    padding: rem-calc(halve($btn-large-padding) ($global-spacing-unit--large - $btn-border-width)); // 7
  }
}




//
// Color variants
// ==========================================================================
@if ($enable-btn--primary == true){
  .c-btn--primary {
    border-color: $btn-primary-border-color;
    background-color: $btn-primary-bg-color;

    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none; // 4
      color: $btn-primary-text-color;
    }

    &:hover,
    &:focus {
      background-color: $btn-primary-bg-color--hover;
    }

    &:active {
      background-color: $btn-primary-bg-color--active;
    }
  }
}


//
// Style variants [Pill | Block | Ghost | Groups]
// ==========================================================================

// Pill
@if ($enable-btn--pill == true){
  .c-btn--pill {
    border-radius: 100px;
  }
}


// Block
@if ($enable-btn--block == true){
  .c-btn--block {
    width: 100%;
  }
}


// Ghost
// This buttons have see-through backgrounds and are bordered.
@if ($enable-btn--ghost == true){
  .c-btn--ghost {
    height: $btn-height;
    padding: rem-calc(halve($btn-ghost-default-padding) ($global-spacing-unit - $btn-ghost-border-width)); // 7

    border-style: solid;
    border-width: $btn-ghost-border-width;
    border-color: currentColor;

    color: $btn-default-text-color;

    &,
    &:hover,
    &:active,
    &:focus {
      background: none;
    }

    &:hover,
    &:focus {
      color: $btn-default-text-color;
    }

    &:active {
      color: color-level($btn-default-text-color, -1);
    }

    @if ($enable-btn--small == true){
      &.c-btn--small {
        height: $btn-height--small;
        padding: rem-calc(halve($btn-ghost-small-padding) ($global-spacing-unit - $btn-ghost-border-width)); // 7
      }
    }
    @if ($enable-btn--large == true){
      &.c-btn--large {
        height: $btn-height--large;
        padding: rem-calc(halve($btn-ghost-large-padding) ($global-spacing-unit - $btn-ghost-border-width)); // 7
      }
    }


    &.c-btn--primary {
      color: $btn-primary-bg-color;

      &:hover,
      &:focus {
        color: $btn-primary-bg-color--hover;
      }

      &:active {
        color: $btn-primary-bg-color--active;
      }
    }
  }
}

@if ($enable-btn-group == true){

  //
  // 1. Match .c-btn alignment
  // 2. Prevent double borders when buttons are next to each other
  //
  .c-btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle; // 1
  }

  .c-btn-group > .c-btn {
    position: relative;
    float: left;
    border-radius: 0;
  }

  .c-btn-group .c-btn+.c-btn {
    margin-left: -#{$btn-border-width}; // 2
  }

  .c-btn-group > .c-btn:first-child {
    border-top-left-radius: $global-border-radius;
    border-bottom-left-radius: $global-border-radius;
  }

  .c-btn-group > .c-btn:last-child {
    border-top-right-radius: $global-border-radius;
    border-bottom-right-radius: $global-border-radius;
  }

  @if ($enable-btn-group--equal == true) {
    .c-btn-group--equal {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: separate;

      > .c-btn {
        float: none;
        display: table-cell;
      }
    }
  }
}
