/* ==========================================================================
   Text Alignment
   ========================================================================== */

// Partial to align Text Left, Right, Center or Justify
.text-center { text-align: center !mportant; }
.text-left { text-align: left !mportant; }
.text-right { text-align: right !mportant; }
.text-justify {text-align: justify !mportant; }
