/* ==========================================================================
   Text Alignment
   ========================================================================== */

// Partial to align Text Left, Right, Center or Justify
%text-center { text-align: center; }
%text-left { text-align: left; }
%text-right { text-align: right; }
%text-justify { text-align: justify; }

.text-center { @extend %text-center; }
.text-left { @extend %text-left; }
.text-right { @extend %text-right; }
.text-justify { @extend %text-justify; }