/* ==========================================================================
   Text Transform Helper Classes
   ========================================================================== */

.text-uppercase,
%text-uppercase{ text-transform: uppercase; }

.text-lowercase,
%text-lowercase{ text-transform: lowercase; }

.text-capitalize,
%text-capitalize{ text-transform: capitalize; }