// ==========================================================================
// LIST OVERLAP
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings files?";
}

.list-overlap {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: rem-calc($base-spacing-unit);
  list-style-type: none;

  &__item {
    display: block;
  }

  &__item--has-child {
    position: static;
  }

  &__link {
    display: block;
    padding-top: rem-calc(quarter($base-spacing-unit));
    padding-bottom: rem-calc(quarter($base-spacing-unit));
    text-decoration: none;

    transition: all .3s ease-out;

    &:hover {
      color: color("brand", "light");
    }

    .is-active > & {
      color: color("foreground");
      font-weight: bold;
    }
  }


  &__child {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    position: absolute;
    z-index: z("default");
    top: 0;
    left: 100%;

    background-color: color("background");

    .no-csstransforms & {
      transition: left .2s ease-out;
    }

    .csstransforms & {
      transition: transform .2s ease-out;
    }

    .no-csstransforms .is-moved-left > & {
      left: 0;
    }

    .csstransforms .is-moved-left > & {
      transform: translate(-100%, 0);
    }

    .csstransforms3d .is-moved-left > & {
      transform: translate3d(-100%, 0, 0);
    }
  }
}
