// ==========================================================================
// LIST
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings files?";
}

.list {
  margin: 0;

  &__item {
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    padding-top: rem-calc(15px);
    padding-right: rem-calc(halve($base-spacing-unit));
    padding-bottom: rem-calc(15px);

    color: color("foreground");
    background-color: transparent;

    &:hover {
      color: color("brand", "light");
    }

    &.is-active {
      color: color("foreground");
    }
  }

  &__item + &__item {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: color("foreground", "secondary");
  }
}
