// ==========================================================================
// PAGE HEAD - MOBILE VARIANT
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings files?";
}

.page-head {
  position: relative;
  z-index: z("autosuggest") - 1;

  display: block;
  width: 100%;
  padding-bottom: rem-calc(halve($base-spacing-unit));
  padding-left: rem-calc(halve($base-spacing-unit));
  padding-right: rem-calc(halve($base-spacing-unit));
  background-color: color("brand");
}
