// ==========================================================================
// QUESTION
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings files?";
}

.question {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__item {
    @include mq(medium-up) {
      margin-bottom: rem-calc($base-spacing-unit);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__category {
    margin-bottom: rem-calc(quarter($base-spacing-unit));
    font-size: rem-calc(12);
    text-transform: uppercase;
  }

  &__link {
    display: block;
    padding-top: rem-calc(halve($base-spacing-unit));
    padding-right: rem-calc(halve($base-spacing-unit));
    padding-bottom: rem-calc(halve($base-spacing-unit));

    color: color("foreground");
    background-color: transparent;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: color("foreground", "secondary");

    transition: background .3s ease-out,
                color .3s ease-out,
                border .3s ease-out;

    &:hover,
    &:focus {
      color: color("brand", "light");
      background-color: $color-overlay--pink;
      border-bottom-color: $color-overlay--pink;
    }

    .question__item:last-child > & {
      &,
      &:hover,
      &:focus {
        border-bottom-width: 0;
      }
    }

  }

  &__number {
    @include transition(background);

    display: inline-block;
    vertical-align: middle;

    width: rem-calc(35);
    height: rem-calc(35);
    margin-right: rem-calc(quarter($base-spacing-unit));
    line-height: rem-calc(35);

    text-align: center;

    border-radius: 50%;
    background-color: color("background", "dark");

    .question__link:hover > & {
      background-color: transparent;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: middle;

    @include mq(small) {
      width: 80%;
    }
  }
}
