// ==========================================================================
// Blockquote
// ==========================================================================

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included a global settings file?";
}

// Default styling for Blockquote element
$blockquote-footer-font-size: 12px !default;
$blockquote-footer-font-color: scale-color($global-text-color, $lightness: 30%) !default;

blockquote {

  footer,
  small {
    @include font-size($blockquote-footer-font-size);
    display: block;
    color: $blockquote-footer-font-color;

    &::before {
      content: "\2014 \00A0";
    }
  }
}
