/* ==========================================================================
   FORM ELEMENTS
   ========================================================================== */


// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}


$form-font-size:                        $base-font-size !default;
$form-border-style:                     solid !default;
$form-border-width:                     1px !default;
$form-border-color:                     #ddd !default;
$form-border-color-hover:               darken($form-border-color, 5%) !default;
$form-label-margin-bottom:              quarter($base-spacing-unit) !default;
$form-input-padding:                    halve($base-spacing-unit) !default;
$form-input-margin-bottom:              halve($base-spacing-unit) !default;


fieldset {
  padding: rem-calc($base-spacing-unit);
}

input,
label,
select {
  display: block;
}

label {
  margin-bottom: rem-calc($form-label-margin-bottom);

  &.required:after {
    content: "*";
  }

  abbr{
    display: none;
  }
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select {

  @include box-sizing;

  width: 100%;
  margin-bottom: rem-calc($form-input-margin-bottom);
  padding: rem-calc($form-input-padding);

  border: $form-border-width $form-border-style $form-border-color;
}

textarea {
  resize: vertical;
  height: rem-calc($base-spacing-unit * 4);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  position: relative;
  top: 2px;
}

input[type="file"] {
  margin-bottom: rem-calc( halve($base-spacing-unit) );
  padding-bottom: rem-calc( halve($base-spacing-unit) );
  width: 100%;
}