::selection{
  background: scale-color($color-primary, $lightness: 20%);
  color:#fff;
  text-shadow:none;
}
::-moz-selection{
  background: scale-color($color-primary, $lightness: 20%);
  color:#fff;
  text-shadow:none;
}
::-webkit-selection{
  background: scale-color($color-primary, $lightness: 20%);
  color:#fff;
  text-shadow:none;
}