/* ==========================================================================
   TOPBAR
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}

// VARS
$topbar-height:           rem-calc(50) !default;
$topbar-padding:          rem-calc(halve($base-spacing-unit)) !default;
$topbar-bg-color:         $color-primary !default;
$topbar-link-color:       $color-white !default;


.topbar {
  position: relative;
  height: $topbar-height;
  background-color: $topbar-bg-color;
  color: $color-white;
}

  .topbar__brand{
    @extend %h4;
    margin: 0;
    padding-left: $topbar-padding;
    padding-right: $topbar-padding;
    line-height: $topbar-height;
  }

  .topbar__toggle{
    position: absolute;
    right: halve($base-spacing-unit);
    z-index: z("default");
    @include vertical-middle;
  }

  .topbar__nav{
    position: relative;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $topbar-padding;
    padding-right: $topbar-padding;
    list-style: none;
    display: none;
    background-color: $topbar-bg-color;

    z-index: z("default");

    @media #{$medium-up}{
      display: block;
      text-align: right;
    }

    .is-open &{
      display: block;
      margin-bottom: rem-calc($base-spacing-unit);
    }
  }

    .topbar__nav__item{
      display: block;
      border-top: 1px solid darken($topbar-bg-color, 10%);
      @media #{$medium-up}{
        display: inline-block;
        border-top-width: 0;
      }
    }
      .topbar__nav__link{
        display: block;
        text-transform: uppercase;
        color: $topbar-link-color;
        padding: rem-calc(halve($base-spacing-unit));


        @include transition(background);

        &:hover,
        &:active,
        &.is-active{
          color: $topbar-link-color;
        }

        &:hover,
        &:active{
          background-color: darken($topbar-bg-color, 5%);
        }

        &.is-active{
          background-color: darken($topbar-bg-color, 10%);
        }

      }