.select-wrapper { //in case you want a css caret
  position: relative;
  &::after {
  /*
    your caret style here
  */
    content: '';
    position: absolute;
    top: $base-spacing-unit;
    right: halve($base-spacing-unit);
    @include triangle (rem-calc(10), #000, down);
  }
  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    padding: halve($base-spacing-unit) 0; //use padding instead of height or line-height
    background: $color-white; //set a background, even if it's transparent, or in case you want an image for caret
    text-indent: rem-calc($base-spacing-unit); //use indentation to get rid of firefox-android caret
  }
}