.subnav{
  @extend %#{$list-dull-namespace}list-dull;
}

  .subnav__item{
    display: block;
    padding-top: quarter($base-spacing-unit);
    padding-bottom: quarter($base-spacing-unit);
    border-top: 1px solid #eee;
  }

    .subnav__link{
      display: block;
      padding: rem-calc(quarter($base-spacing-unit) halve($base-spacing-unit));
      border-radius: $base-radius;

      &.is-active{
        background-color: $color-primary;
        color: $color-white;
      }
    }
