/* ==========================================================================
   FORM ELEMENTS
   ========================================================================== */


// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}

$form-spacing-unit:                     rem-calc($base-spacing-unit);
$form-font-size:                        rem-calc($base-font-size) !default;
$form-font-color:                       rgba($base-text-color, 0.8) !default;
$form-label-font-size:                  rem-calc(14) !default;
$form-border-style:                     solid !default;
$form-border-width:                     rem-calc(1px) !default;
$form-border-color:                     #dddddd !default;
$form-border-color-hover:               #bbbbbb !default;
$form-input-padding:                    halve($form-spacing-unit) !default;
$form-input-margin-bottom:              halve($form-spacing-unit) !default;
$form-label-margin-bottom:              quarter($form-spacing-unit) !default;


fieldset {
  padding: $base-spacing-unit;
}

input,
label,
select {
  display: block;
}

label {
  font-size: $form-label-font-size;
  font-weight: 500;
  margin-bottom: rem-calc($form-label-margin-bottom);
  &.required:after {
    content: "*";
    color: $color-alert;
  }

  abbr{
    display: none;
  }
}

textarea,
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select {
  width: 100%;
  line-height: $base-spacing-unit/$base-font-size;
  padding: rem-calc(quarter($base-spacing-unit)) halve($form-spacing-unit);

  border-width: $form-border-width;
  border-style: $form-border-style;
  border-color: $form-border-color;
  color: rgba($form-font-color, 0.8);

  vertical-align: top;

  &:hover,
  &:focus{
    border-color: $form-border-color-hover;
  }
  &:focus{
    outline: none;
  }

  @include box-sizing;
  @include transition(border-color);
}

textarea {
  resize: vertical;
  height: quadruple($form-spacing-unit);
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 2px;
}

input[type="file"] {
  margin-bottom: halve($form-spacing-unit);
  padding-bottom: halve($form-spacing-unit);
  width: 100%;
}

.input-group{
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
  overflow: hidden;
  background-clip: padding-box;

  > .input-group__input,
  > .input-group__addon{
    display: table-cell;
    font-size: $form-font-size;
    border-radius: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    width: auto;
    vertical-align: top;
  }

  > .input-group__input{
    border-left-width: 1px;
    border-right-width: 0px;
  }

  > .input-group__addon{
    padding: rem-calc(quarter($base-spacing-unit)) halve($form-spacing-unit);
  }

  > .input-group__addon:not(.btn){
    background-color: $color-divider;
  }

}

.input-group--radius{
  > .input-group__input{
    border-top-left-radius: $btn-radius;
    border-bottom-left-radius: $btn-radius;
  }

  > .input-group__addon{
    border-top-right-radius: $btn-radius;
    border-bottom-right-radius: $btn-radius;
  }
}
