$tab-border-width: 1px;
$tab-padding: percent-calc(75%, $base-spacing-unit);

.tabbed-nav{
  list-style: none;
  line-height: 1;
  margin: 0;
  padding-left: 1rem;
  border-bottom: $tab-border-width solid $color-divider;

  > li {
    display: inline;
    > a{
      display: inline-block;
      padding: rem-calc($tab-padding);

      &.is-active{
        background-color: $color-white;
        margin-bottom: -$tab-border-width;
        border: $tab-border-width solid $color-divider;
        border-bottom-color: $color-white;
        border-radius: $base-radius $base-radius 0 0; /* 4px 4px 0 0 */
      }
    }
  }
}