/*
   High Level Colors Setting
   ========================================================================== */
/**
 * We use these as default colors throughout
 */
$color-primary:                         #3A539B !default;
$color-secondary:                       #ABB7B7 !default;
$color-alert:                           #EF4836 !default;
$color-success:                         #00B16A !default;
$color-warning:                         #F5AB35 !default;
$color-info:                            #3498DB !default;

$color-white:                           #ffffff !default;
$color-snow:                            #f0f0f0 !default;
$color-divider:                         #e9e9e9 !default;
$color-black:                           #222222 !default;
