/* ==========================================================================
   Framework Main File
   ========================================================================== */
// YOU SHOULD PREDEFINE THE VARIABLES BEFORE IMPORT THE RELEVANT FILES

/*
   SETTINGS
   ========================================================================== */
/**
 * Global variables, site-wide settings, config switches, etc.
 *
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */

// $base-font-family-sans-serif:          "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
// $base-font-family-serif:               Georgia, Cambria, "Times New Roman", Times, serif;
// $base-font-family-monospace:           Consolas, "Liberation Mono", Courier, monospace;
// $base-font-family:                     $base-font-family-sans-serif;
// $base-font-size:                       16px;
// $base-font-weight:                     normal;

// $base-text-color:                      #333;
// $base-text-color-alt:                  #fff;
// $base-background-color:                #fff;

// $base-line-height:                     24px;
// $base-spacing-unit:                    $base-line-height;
// $base-spacing-unit--small:             round($base-spacing-unit / 2);
// $base-spacing-unit--large:             round($base-spacing-unit * 2);

// $base-radius:                          4px;


/**
 * We use these as default colors throughout
 * Ref: http://www.flatuicolorpicker.com/
 */

// $color-primary:                         #3A539B; // CHAMBRAY
// $color-secondary:                       #bdc3c7; // SILVER
// $color-alert:                           #EF4836; // FLAMINGO
// $color-success:                         #2ECC71; // SHAMROCK
// $color-warning:                         #F7CA18; // RIPE LEMON
// $color-info:                            #3498DB; // CURIOUS BLUE



/**
 * Hold our breakpoint range and conditions.
 *
 * These can be invoked later on using this line of code:
 *
 * @media #{conditions}{
 *   @content;
 * }
 */

// $screen: "only screen";

// $small-range:                           (0px, 720px);
// $medium-range:                          (721px, 1024px);
// $large-range:                           (1025px, 1440px);
// $xlarge-range:                          (1441px, 1920px);
// $xxlarge-range:                         (1921px, 99999999px);

// $retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

/**
 * Would you like classes to be prepended with a namespace? If so,
 * define it here.
 */

// $namespace: null;

// base line debuger
// $enable-debug-typography:               true;

// whitespace debuger
// $enable-debug-whitespace:               true;

@import "0-settings/settings.all";

// my settings
@import "settings.colors";




/*
   TOOLS
   ========================================================================== */
// Site-wide mixins and functions.

@import "1-tools/tools.all";
@import "tools.triangle";



/*
   GENERIC
   ========================================================================== */
/**
 *  Low-specificity, far-reaching rulesets (e.g. CSS resets)
 *
 * [1] Normalize
 * [2] Reset
 * [3] Box Sizing
 * [4] Shared
 */

/* [1] */
@import "2-generic/generic.normalize";

/* [2] */
@import "2-generic/generic.reset";

/* [3] */
@import "2-generic/generic.box-sizing";

/* [4] */
@import "2-generic/generic.shared";




/*
   BASE
   ========================================================================== */
/**
 * Uncllassed HTML elements (eg. a{}, p{}, blockquote{} )
 *
 * [1] Page
 * [2] Headings
 * [3] Paragraphs
 * [4] Links
 * [5] Images
 * [6] List
 * [7] Hr
 * [8] Blockquote
 * [9] Forms
 * [10] Codes
 */

/* [1] */
@import "3-base/base.page";


/* [2] */
// $heading-size-min:          $base-font-size;
// $heading-size-max:          36px;

// max font size and line height for small device
// $heading-size-max-small:    30px;
// $heading-line-height-small: 1.3;

// $header-font-family:        $base-font-family;
// $header-font-weight:        $base-font-weight;

@import "3-base/base.headings";


/* [3] */
// $lede-size:   1.25;

@import "3-base/base.paragraphs";


/* [4] */
// $anchor-font-color: $color-info;
// $anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -14%);
// $anchor-text-decoration: none;
// $anchor-text-decoration-hover: none;

@import "3-base/base.links";


/* [5] */
@import "3-base/base.images";


/* [6] */
@import "3-base/base.lists";


/* [7] */
// $hr-border-width:  1px;
// $hr-border-style:  solid;
$hr-border-color:  $color-divider;
// $hr-margin:        rem-calc($base-spacing-unit);

@import "3-base/base.hr";


/* [8] */
// $blockquote-font-size: rem-calc(18);
// $blockquote-footer-font-size: 80%;
// $blockquote-footer-font-color: scale-color($base-text-color, $lightness: 30%);
// $blockquote-padding: halve($base-spacing-unit) $base-spacing-unit;
// $blockquote-border-width: rem-calc(5);
// $blockquote-border-color: #eee;

@import "3-base/base.blockquote";


/* [9] */
// $form-font-size:                        $base-font-size;
// $form-content-bg:                       darken(#fff, 2%);
// $form-border-width:                     1px;
// $form-border-color:                     #ddd;
// $form-border-color-hover:               darken($form-border-color, 5%);
// $form-label-pointer:                    pointer;
// $form-label-font-weight:                bold;
// $form-label-line-height:                1.5;
// $form-label-font-color:                 scale-color($base-text-color, $lightness: 30%);
// $form-label-small-transform:            capitalize;
// $form-label-bottom-margin:              rem-calc(5);

@import "3-base/base.forms";


/* [10] */
// $code-font-family: $base-font-family-monospace !default;
// $code-font-color: scale-color($color-alert, $lightness: 10%) !default;
// $code-font-size: 80% !default;

// $code-padding: rem-calc(quarter($base-spacing-unit)) !default;
// $code-bg-color: darken($base-background-color, 2%) !default;

// $code-border-color: #ccc !default;
// $code-border-width: 1px !default;
// $code-border-style: solid !default;

// $code-tab-size: 4 !default;
@import "3-base/base.codes";




/*
   Modules
   ========================================================================== */
/**
 * modules, abstractions, and design patterns
 * (e.g. .media {}, .button{}, .list{}).
 *
 * [1]  Grids
 * [2]  Block
 * [3]  Box
 * [4]  Buttons
 * [5]  Flag
 * [6]  List Block
 * [7]  List Dull
 * [8]  List Inline
 * [9]  List UI
 * [10] Media
 * [11] Pack
 * [12] Table
 * [13] Tabs
 */

/* [1] */
$columns-gutter:                        $base-spacing-unit;
$container-width:                       rem-calc(1000);
$default-float:                         left;
$opposite-float:                        right;

// grid extra large classes
$enable-xl-grid-classes:                false;
$enable-xxl-grid-classes:               false;

/*
   Default grid classess.
   ========================================================================== */
// Uncomment these variables bellow
// if you want to create your own grid classes

// $enable-default-grid-classes:           false;

// $enable-grid-half:                      false;
// $enable-grid-third:                     false;
// $enable-grid-fourth:                    false;
// $enable-grid-fifth:                     false;


/*
   Grid unit modifier
   ========================================================================== */
// These modifier will be disabled automatically
// as you disable the default grid classes

$enable-grid-flush:                     true;
$enable-grid-pull:                      true;
$enable-grid-push:                      true;
$enable-grid-offset:                    true;
$enable-grid-reset:                     true;
$enable-grid-centered:                  true;
$enable-grid-uncentered:                true;


@import "4-modules/modules.grids";


/* [2] */
// $block-namespace:                    $namespace;

// $block-gutter:                       $base-spacing-unit;
// $block-gutter--tiny:                 quarter($block-gutter);
// $block-gutter--small:                halve($block-gutter);
// $block-gutter--large:                double($block-gutter);
// $block-gutter--huge:                 quadruple($block-gutter);

$enable-block--flush:                true;
$enable-block--tiny:                 true;
$enable-block--small:                true;
$enable-block--large:                true;
$enable-block--huge:                 true;
$enable-block--center:               true;
$enable-block--right:                true;


@import "4-modules/modules.block";


/* [3] */
// $box-namespace:                      $namespace;

// $box-padding:                        $base-spacing-unit;
// $box-padding--tiny:                  quarter($box-padding);
// $box-padding--small:                 halve($box-padding);
// $box-padding--large:                 double($box-padding);
// $box-padding--huge:                  quadruple($box-padding);

$enable-box--flush:                  true;
$enable-box--tiny:                   true;
$enable-box--small:                  true;
$enable-box--large:                  true;
$enable-box--huge:                   true;

@import "4-modules/modules.box";


/* [4] */
// $btn-namespace:                      $namespace;

// $btn-padding:                        halve($base-spacing-unit);
// $btn-padding--small:                 halve($btn-padding);
// $btn-padding--large:                 double($btn-padding);
$btn-lightness-factor:               20%;
$btn-background:                     $color-primary;
// $btn-color:                          #fff;
// $btn-border-width:                   1px;
// $btn-border-style:                   solid;
$btn-border-color:                   scale-color($btn-background, $lightness: -$btn-lightness-factor);
$btn-radius:                         $base-radius;

$enable-btn--small:                  true;
$enable-btn--large:                  true;
$enable-btn--full:                   true;
$enable-btn--pill:                   true;
$enable-btn--disabled:               true;


@import "4-modules/modules.buttons";
@import "modules.buttons-group";


/* [5] */
// $flag-namespace:                     $namespace;

// $flag-gutter:                        $base-spacing-unit;
// $flag-gutter--tiny:                  quarter($flag-gutter);
// $flag-gutter--small:                 halve($flag-gutter);
// $flag-gutter--large:                 double($flag-gutter);
// $flag-gutter--huge:                  quadruple($flag-gutter);

$enable-flag--tiny:                  true;
$enable-flag--small:                 true;
$enable-flag--large:                 true;
$enable-flag--huge:                  true;
$enable-flag--rev:                   true;
$enable-flag--flush:                 true;
$enable-flag--top:                   true;
$enable-flag--bottom:                true;
$enable-flag--responsive:            true;
// $flag-collapse-at:                   upper-bound($small-range);

@import "4-modules/modules.flag";


/* [6] */
// $list-block-namespace:               $namespace;

// $list-block-padding:                 $base-spacing-unit;
// $list-block-padding--tiny:           quarter($list-block-padding);
// $list-block-padding--small:          halve($list-block-padding);
// $list-block-padding--large:          double($list-block-padding);
// $list-block-padding--huge:           quadruple($list-block-padding);

$enable-list-block--tiny:            true;
$enable-list-block--small:           true;
$enable-list-block--large:           true;
$enable-list-block--huge:            true;

@import "4-modules/modules.list-block";


/* [7] */
// $list-dull-namespace:                $namespace;
@import "4-modules/modules.list-dull";


/* [8] */
// $list-inline-namespace:              $namespace;

$enable-list-inline--delimited:      true;
// $list-inline-delimit-character:      ",\00A0";

@import "4-modules/modules.list-inline";

/* [9] */
// $list-ui-namespace:                  $namespace;

// $list-ui-padding:                    $base-spacing-unit;
// $list-ui-padding--tiny:              quarter($list-ui-padding);
// $list-ui-padding--small:             halve($list-ui-padding);
// $list-ui-padding--large:             double($list-ui-padding);
// $list-ui-padding--huge:              quadruple($list-ui-padding);

// $list-ui-border-width:               1px;
// $list-ui-border-style:               solid;
// $list-ui-border-color:               #ccc;

$enable-list-ui--flush:              true;
$enable-list-ui--tiny:               true;
$enable-list-ui--small:              true;
$enable-list-ui--large:              true;
$enable-list-ui--huge:               true;
$enable-remove-border-at-first-item: true;
$enable-remove-border-at-last-item:  true;

@import "4-modules/modules.list-ui";




/* [10] */
// $media-namespace:                    $namespace;

// $media-gutter:                       $base-spacing-unit;
// $media-gutter--tiny:                 quarter($media-gutter);
// $media-gutter--small:                halve($media-gutter);
// $media-gutter--large:                double($media-gutter);
// $media-gutter--huge:                 quadruple($media-gutter);
// $media-collapse-at:                  720px;

$enable-media--tiny:                 true;
$enable-media--small:                true;
$enable-media--large:                true;
$enable-media--huge:                 true;
$enable-media--rev:                  true;
$enable-media--flush:                true;
$enable-media--responsive:           true;

@import "4-modules/modules.media";


/* [11] */
// $pack-namespace:                     $namespace;

// $pack-gutter:                        $base-spacing-unit;
// $pack-gutter--tiny:                  quarter($pack-gutter);
// $pack-gutter--small:                 halve($pack-gutter);
// $pack-gutter--large:                 double($pack-gutter);
// $pack-gutter--huge:                  quadruple($pack-gutter);

$enable-pack--auto:                  true;
$enable-pack--tiny:                  true;
$enable-pack--small:                 true;
$enable-pack--large:                 true;
$enable-pack--huge:                  true;
$enable-pack--rev:                   true;
$enable-pack--middle:                true;
$enable-pack--bottom:                true;

@import "4-modules/modules.pack";


/* [12] */
// $table-namespace:                    $namespace;

// $table-padding--compact:             quarter($base-spacing-unit);
// $table-padding--cosy:                halve($base-spacing-unit);
// $table-padding--comfy:               $base-spacing-unit;

// $table-border-width:                 1px;
// $table-border-style:                 solid;
// $table-border-color:                 #eee;

$enable-table--fixed:                true;
$enable-table--compact:              true;
$enable-table--cosy:                 true;
$enable-table--comfy:                true;
$enable-table--cells:                true;
$enable-table--rows:                 true;
$enable-table--columns:              true;

@import "4-modules/modules.tables";


/* [13] */
// $tabs-namespace:                     $namespace;
@import "4-modules/modules.tabs";




/*
   COMPONENTS
   ========================================================================== */
/**
 * Discrete, complete chunks of UI (e.g. .carousel {}, .topbar{}).
 * This is the one layer that the framework doesn't get involved with.
 * So, import your own components here and do your magic!
 */
// @import "components.mycomponents1";
// @import "components.mycomponents2";

@import "components.topbar";
@import "components.tab";
@import "components.form";
@import "components.selection";



/*
   Helpers
   ========================================================================== */
/**
 * High-specificity, very explicit selectors.
 * Overrides and helper classes (e.g. .hidden {}).
 *
 * [1] Clearfix
 * [2] Float
 * [3] Text transform
 * [4] Alignment
 * [4+] Alignment Responsive
 * [5] Spacing
 * [5+] Spacing Responsive
 * [6] Visibility
 * [6+] Visibility Responsive
 * [7] Print
 */

/* [1] */
@import "6-helpers/helpers.clearfix";


/* [2] */
@import "6-helpers/helpers.float";


/* [3] */
@import "6-helpers/helpers.text-transform";


/* [4] */
$enable-xlarge-alignment-clasess:    true;

@import "6-helpers/helpers.alignment";
@import "6-helpers/helpers.alignment-responsive";


/* [5] */
$spacing-namespace:                  $namespace;

$spacing-margin:                     $base-spacing-unit;
$spacing-padding:                    $base-spacing-unit;

$enable-margins:                     true;
$enable-margins--tiny:               true;
$enable-margins--small:              true;
$enable-margins--large:              true;
$enable-margins--huge:               true;

$enable-margins--negative:           true;
$enable-margins--negative-tiny:      true;
$enable-margins--negative-small:     true;
$enable-margins--negative-large:     true;
$enable-margins--negative-huge:      true;

$enable-margins--none:               true;

$enable-paddings:                    true;
$enable-paddings--tiny:              true;
$enable-paddings--small:             true;
$enable-paddings--large:             true;
$enable-paddings--huge:              true;

$enable-paddings--none:              true;

@import "6-helpers/helpers.spacing";


$enable-responsive-margins:                   true;
$enable-responsive-margins--tiny:             true;
$enable-responsive-margins--small:            true;
$enable-responsive-margins--large:            true;
$enable-responsive-margins--huge:             true;

$enable-responsive-margins--negative:         true;
$enable-responsive-margins--negative-tiny:    true;
$enable-responsive-margins--negative-small:   true;
$enable-responsive-margins--negative-large:   true;
$enable-responsive-margins--negative-huge:    true;

$enable-responsive-margins--none:             true;

$enable-responsive-paddings:                  true;
$enable-responsive-paddings--tiny:            true;
$enable-responsive-paddings--small:           true;
$enable-responsive-paddings--large:           true;
$enable-responsive-paddings--huge:            true;

$enable-responsive-paddings--none:            true;


$enable-xlarge-responsive-spacing-clasess:    true;
$enable-xxlarge-responsive-spacing-clasess:   true;

@import "6-helpers/helpers.spacing-responsive";


/* [6] */
$enable-accessibility-classes:       true;
$enable-table-classes:               true;

@import "6-helpers/helpers.visibility";


$enable-xlarge-responsive-visibility-clasess:    true;
$enable-xxlarge-responsive-visibility-clasess:   true;
@import "6-helpers/helpers.visibility-responsive";


/* [7] */
@import "6-helpers/helpers.print";

// my helper
@import "helpers.debug";