.u-dummy {
  font-size: .8rem;
  background-color: #eee;
  border: 1px solid #aaa;
}

.u-dummy--alt {
  background-color: #ccc;
}

.u-page-title {
  border-bottom: 4px dotted #333;
}

.u-bg-dark {
  background-color: $black;
  color: $white;
}

// .test {
//   padding: $global-spacing-unit--tiny;
//   padding: $global-spacing-unit--small;
//   padding: $global-spacing-unit;
//   padding: $global-spacing-unit--large;
//   padding: $global-spacing-unit--huge;
// }
