// ==========================================================================
// GRID
// ==========================================================================

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?";
}

.grid {
  @include clearfix;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: rem-calc($base-container-width);

  .grid {
    width: auto;
    margin-left: -#{rem-calc(halve($base-spacing-unit))};
    margin-right: -#{rem-calc(halve($base-spacing-unit))};
    max-width: none;
  }

  &__item {
    position: relative;
    padding-left: rem-calc(halve($base-spacing-unit));
    padding-right: rem-calc(halve($base-spacing-unit));
    float: left;
  }
}
