// ==========================================================================
// Spacing
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included a global settings files?";
}


//
// Utility classes to put specific spacing values onto elements. The below loop
// will generate us a suite of classes like:
//
//   .u-padding {}
//   .u-margin {}
//
//   .u-margin-top {}
//   .u-padding-top {}
//   .u-margin-top--[tiny|small|large|huge] {}
//   .u-padding-top--[tiny|small|large|huge] {}
//
//   .u-padding-right--none {}
//


// Variable(s)
$spacing-directions: (
  null,
  "-top",
  "-right",
  "-bottom",
  "-left",
) !default;

$spacing-properties: (
  "padding",
  "margin"
) !default;

$spacing-sizes: (
  null: $global-spacing-unit,
  "--tiny": $global-spacing-unit--tiny,
  "--small": $global-spacing-unit--small,
  "--large": $global-spacing-unit--large,
  "--huge": $global-spacing-unit--huge,
  "--none": 0
) !default;


@each $property in $spacing-properties {

  @each $direction in $spacing-directions {

    @each $size, $value in $spacing-sizes {

      .u-#{$property}#{$direction}#{$size} {
        #{$property}#{$direction}: rem-calc($value) !important;
      }

    }

  }

}
