// ==========================================================================
// Split
// ==========================================================================

//
// Simple split item for creating two elements floated away from one another.
//

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-global-settings: false !default;

@if ($imported-global-settings == false) {
  @warn "Oops! Have you included a global settings files?";
}


// Variable(s)
$enable-split--tiny:    false !default;
$enable-split--small:   false !default;
$enable-split--large:   false !default;
$enable-split--huge:    false !default;

.o-split {
  text-align: right;
  list-style: none;
  margin-left: 0;
}

.o-split__title {
  text-align: left;
  float: left;
  clear: left;
}

.o-split__desc {
  margin-bottom: rem-calc($global-spacing-unit);
}


// Size Variations

@if ($enable-split--tiny == true) {
  .o-split--tiny > .o-split__desc {
    margin-bottom: rem-calc($global-spacing-unit--tiny);
  }
}


@if ($enable-split--small == true) {
  .o-split--small > .o-split__desc {
    margin-bottom: rem-calc($global-spacing-unit--small);
  }
}


@if ($enable-split--large == true) {
  .o-split--large > .o-split__desc {
    margin-bottom: rem-calc($global-spacing-unit--large);
  }
}


@if ($enable-split--huge == true) {
  .o-split--huge > .o-split__desc {
    margin-bottom: rem-calc($global-spacing-unit--huge);
  }
}
