/* ==========================================================================
   BUTTONS
   ========================================================================== */
/**
 * A simple button object.
 */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}


/**
 * Here we set a variable assuming that 'box-sizing: border-box;' is not
 * set globally. If it has been previously been defined,
 * the following variable will be overriden and will be set to 'true'.
 */
$global-border-box: false !default;


$btn-namespace:                      $namespace !default;

$btn-padding:                        halve($base-spacing-unit) !default;
$btn-padding--small:                 quarter($base-spacing-unit) !default;
$btn-padding--large:                 $base-spacing-unit !default;

$btn-background:                     $base-background-color !default;
$btn-color:                          $base-text-color !default;
$btn-color--invert:                   #FFFFFF !default;

$btn-border-width:                   1px !default;
$btn-radius:                         0 !default;
$btn-large-font-size-factor:         1.125 !default;
$enable-btn-transition:              true !default;

$enable-btn--small:                  false !default;
$enable-btn--large:                  false !default;
$enable-btn--full:                   false !default;
$enable-btn--pill:                   false !default;
$enable-btn--disabled:               false !default;

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
@mixin buttons-base{
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  position: relative; /* [4] */
  text-align: center; /* [4] */
  margin:  0; /* [4] */
  line-height:  normal; /* [4] */
  white-space: normal; /* [4] */
  cursor: pointer; /* [5] */
}

@mixin buttons-style(
  $background: $btn-background,
  $transition: $enable-btn-transition){

  background-color: $background;

  @if($btn-border-width != 0) {
    border-width: $btn-border-width;
    border-style: solid;
    border-color: color-level($background, -2);
  }

  @if($btn-radius != 0) {
    border-radius: $btn-radius;
  }

  @if ($transition == true) {
    transition: color 0.3s ease-out,
                background-color 0.3s ease-out;
  }

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    @if($background == $btn-background ){
      color: $btn-color;
    } @else {
      color: foreground-color($background, $btn-color, $btn-color--invert, $threshold: 65%)
    }
  }

  &:hover,
  &:focus{
    background-color: color-level($background, -2);
  }

  &:active{
    @if($btn-border-width != 0) {
      border-color: color-level($background, -3);
    }
    background-color: color-level($background, -3);
  }

}

@mixin buttons-size($padding: $btn-padding){
  padding: rem-calc( ($padding - $btn-border-width) (double($padding) - $btn-border-width) ); /* [6] */
}


.#{$btn-namespace}btn,
%#{$btn-namespace}btn {

  @include buttons-base;
  @include buttons-style;
  @include buttons-size;

}

/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.#{$btn-namespace}btn::-moz-focus-inner,
%#{$btn-namespace}btn::-moz-focus-inner {
  border:  0;
  padding: 0;
}

@if ($enable-btn--small == true) {

  /**
   * Small buttons.
   */

  .#{$btn-namespace}btn--small,
  %#{$btn-namespace}btn--small {
    @include buttons-size($btn-padding--small);
  }

}

@if ($enable-btn--large == true) {

  /**
   * Large buttons.
   */

  .#{$btn-namespace}btn--large,
  %#{$btn-namespace}btn--large {
    font-size: rem-calc($base-font-size * $btn-large-font-size-factor);
    @include buttons-size($btn-padding--large);
  }

}

@if ($enable-btn--full == true) {

  /**
   * Full-width buttons.
   */

  .#{$btn-namespace}btn--full,
  %#{$btn-namespace}btn--full {
    width: 100%;

    @if $global-border-box == false {
      /**
       * Remove paddings so that widths and paddings don’t conflict.
       */
      padding-right: 0;
      padding-left:  0;
    }
  }

}

@if ($enable-btn--pill == true) {

  /**
   * Round-ended buttons.
   *
   * 1. Overly-large value to ensure the radius rounds the whole end of the
   *    button.
   */

  .#{$btn-namespace}btn--pill,
  %#{$btn-namespace}btn--pill {
      border-radius: 100px; /* [1] */
  }

}

@if ($enable-btn--disabled == true){
  /**
   * Disabled buttons.
   * 1. make it little bit transparent
   * 2. show not allowed cursor when hover
   */

  button[disabled],
  .#{$btn-namespace}btn--disabled,
  %#{$btn-namespace}btn--disabled {
      opacity: .4;
      &:hover,
      &:focus,
      &:active{
        cursor: not-allowed;
      }
  }
}
