/* ==========================================================================
   TABLES
   ========================================================================== */
/**
 * A simple abstraction for making tabular layout.
 */



// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;
$imported-module-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?"
}


$table-namespace:                    $namespace !default;

$table-padding--compact:             quarter($base-spacing-unit) !default;
$table-padding--cosy:                halve($base-spacing-unit) !default;
$table-padding--comfy:               $base-spacing-unit !default;

$table-border-width:                 1px !default;
$table-border-style:                 solid !default;
$table-border-color:                 #eee !default;

$enable-table--fixed:                false !default;
$enable-table--compact:              false !default;
$enable-table--cosy:                 false !default;
$enable-table--comfy:                false !default;
$enable-table--cells:                false !default;
$enable-table--rows:                 false !default;
$enable-table--columns:              false !default;


.#{$table-namespace}table,
%#{$table-namespace}table {
  width: 100%;
  thead > tr > th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid scale-color($table-border-color, $lightness: -20%);
  }
}


@if ($enable-table--fixed == true) {

  /**
   * Force tables into having equal-width columns.
   */
  .#{$table-namespace}table--fixed,
  %#{$table-namespace}table--fixed {
    table-layout: fixed;
  }

}


@if ($enable-table--compact == true) {

  /**
   * Tables with very tightly packed cells.
   */
  .#{$table-namespace}table--compact,
  %#{$table-namespace}table--compact {

    th,
    td {
      padding: $table-padding--compact;
    }

  }

}


@if ($enable-table--cosy == true) {

  /**
   * Lightly packed cells.
   */
  .#{$table-namespace}table--cosy,
  %#{$table-namespace}table--cosy {

    th,
    td {
      padding: $table-padding--cosy;
    }

  }

}


@if ($enable-table--comfy == true) {

  /**
   * Tables with very widely padded cells.
   */
  .#{$table-namespace}table--comfy,
  %#{$table-namespace}table--comfy {

    th,
    td {
      padding: $table-padding--comfy;
    }

  }

}


@if ($enable-table--cells == true) {

  /**
   * Add borders around a `table`.
   */
  .#{$table-namespace}table--cells,
  %#{$table-namespace}table--cells {

    th,
    td {
      border: $table-border-width $table-border-style $table-border-color;
    }

  }

}


@if ($enable-table--rows == true) {

  /**
   * Add borders only to `table`’s rows.
   */
  .#{$table-namespace}table--rows,
  %#{$table-namespace}table--rows {

    &,
    th,
    td {
      border: 0 $table-border-style $table-border-color;
    }

  }

  .#{$table-namespace}table--rows,
  %#{$table-namespace}table--rows {
    th,
    td {
      border-bottom-width: $table-border-width;
    }
  }

}


@if ($enable-table--columns == true) {

  /**
   * Add borders only to `table`’s columns.
   */
  .#{$table-namespace}table--columns,
  %#{$table-namespace}table--columns {

    &,
    th,
    td {
      border: 0 $table-border-style $table-border-color;
    }
  }

  .#{$table-namespace}table--columns,
  %#{$table-namespace}table--columns {
    border-left-width: $table-border-width;

    th,
    td {
      border-right-width: $table-border-width;
    }
  }

}
