// ==========================================================================
// Reset
// ==========================================================================

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?";
}

//
// A very simple reset that sits on top of Normalize.css.
//
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}

//
// Where `margin-bottom` is concerned,this value will be the same as the
// base line-height. This allows us to keep a consistent vertical rhythm.
// As per: csswizardry.com/2012/06/single-direction-margin-declarations
//
h1,h2,h3,h4,h5,h6,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre{
  margin-bottom: rem-calc($base-spacing-unit);
}

//
// Remove extra vertical spacing when nesting lists.
//
li > {

  ol,
  ul {
    margin-bottom: 0;
  }

}

//
// Where `margin-left` is concerned we want to try and indent certain elements
// by a consistent amount. Define that amount once,here.
//
ul, ol, dd{
  margin-left: rem-calc($base-spacing-unit);
}


//
// Remove default table spacing.
//
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//
// Remove the gap between audio, canvas,
// videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
//
audio,
canvas,
video {
  vertical-align: middle;
}


//
// Add the correct font weight in Chrome, Edge, and Safari.
//
b,
strong {
  font-weight: bold;
}
