/* ==========================================================================
   CODE
   ========================================================================== */

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}


$code-font-family: Consolas, "Liberation Mono", Courier, monospace !default;
$code-font-size: 13px !default;

$code-border-color: #ccc !default;
$code-border-width: 1px !default;
$code-border-style: solid !default;

$code-tab-size: 4 !default;

code,
kbd,
pre,
samp {
  font-family: $code-font-family;
}

code {
  @include font-size($code-font-size);
}

pre {
  display: block;
  border: $code-border-width $code-border-style $code-border-color;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
  word-wrap: normal;
  overflow: auto;
  -moz-tab-size: $code-tab-size;
       tab-size: $code-tab-size;
  &,
  code, kbd, samp {
      color: inherit;
  }
}