/* ==========================================================================
   BLOCKQUOTE
   ========================================================================== */
// Default styling for Blockquote element
$blockquote-footer-font-size: 12px !default;
$blockquote-footer-font-color: scale-color($base-text-color, $lightness: 30%) !default;

blockquote {

  footer, small{
    display: block;
    @include font-size($blockquote-footer-font-size);
    color: $blockquote-footer-font-color;

    &:before{
      content: '\2014 \00A0';
    }
  }
}