// ==========================================================================
// Brightness
// ==========================================================================
// Choose visible color to use for given background color
//
// Usage
//
// $dark-background-color: #333;
// $light-text-color: white;
//
// $light-background-color: #eee;
// $dark-text-color: black;
//
// .dark-background {
//   background: $dark-background-color;
//   color: pick-visible-color($dark-background-color, $light-text-color, $dark-text-color);
// }
//
// .light-background {
//   background: $light-background-color;
//   color: pick-visible-color($light-background-color, $light-text-color, $dark-text-color);
// }
//
$red-magic-number: 241;
$green-magic-number: 691;
$blue-magic-number: 68;
$brightness-divisor: $red-magic-number + $green-magic-number + $blue-magic-number;

@function brightness($color) {
  // Extract color components
  $red-component: red($color);
  $green-component: green($color);
  $blue-component: blue($color);

  // Calculate a brightness value in 3d color space between 0 and 255
  $number: sqrt((($red-component * $red-component * $red-magic-number) + ($green-component * $green-component * $green-magic-number) + ($blue-component * $blue-component * $blue-magic-number)) / $brightness-divisor);

  // Convert to percentage and return
  @return 100% * $number / 255;
}

@function pick-visible-color($color, $light, $dark, $factor: 50%) {
  @if brightness($color) < $factor {
    @return $light;
  } @else {
    @return $dark;
  }
}


// @function foreground-color($bgcolor, $color-dark: #333333, $color-light: #FFFFFF, $threshold: 65%) {
//   @return if( lightness($bgcolor) >= $threshold, $color-dark, $color-light );
// }
