// ==========================================================================
// A collections of common css3 mixin
// ==========================================================================


// Font-face
// ==========================================================================
@mixin font-face($font-name, $font-path) {
  @font-face{
    font-family: $font-name;
    src: url("#{$font-path}.eot?") format("eot"),
         // url("#{$font-path}.woff2") format("woff2"),
         url("#{$font-path}.woff") format("woff"),
         url("#{$font-path}.ttf") format("truetype"),
         url("#{$font-path}.svg##{$font-name}") format("svg");
  }
}


// Vertical Middle
// ==========================================================================
@mixin vertical-middle {
  top: 50%;
  @include transform(translate(0, -50%));
}


// Horizontal Middle
// ==========================================================================
@mixin horizontal-middle {
  left: 50%;
  @include transform(translate(-50%, 0));
}


// VH middle
// ========================================================================== */
@mixin vh-middle {
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
