/* ==========================================================================
   Text Alignment
   ========================================================================== */

@mixin import-trumps-alignment {

  .text-left    { text-align: left !important; }
  .text-right   { text-align: right !important; }
  .text-center  { text-align: center !important; }
  .text-justify { text-align: justify !important; }

}

@if $import-trump-alignment == true {
  @include import-trumps-alignment;
}