/* ==========================================================================
   Text Transform Helper Classes
   ========================================================================== */

.uppercase,
%uppercase{ text-transform: uppercase; }

.lowercase,
%lowercase{ text-transform: lowercase; }

.capitalize,
%capitalize{ text-transform: capitalize; }