/* ==========================================================================
   Miscellaneous Helper Classes
   ========================================================================== */


// Generates Miscellaneous classes

.left,
%left{ float: left !important; }

.right,
%right{ float: right !important; }

.hide,
%hide{ display: none; }

.uppercase,
%uppercase{ text-transform: uppercase; }

.lowercase,
%lowercase{ text-transform: lowercase; }

.capitalize,
%capitalize{ text-transform: capitalize; }