/* ==========================================================================
   TRUMPS SETTINGS
   ========================================================================== */
/**
 *
 * This file contain all available trumps settings in csskit;
 * By default, csskit disable all feature, so that you can get
 * as little as you need.
 *
 * If you want to enable some feture or modifier.
 * All you have to do is unncomment these variables.
 * And the framework will import them to your compiled css.
 */




/*
   TRUMP ALIGNMENT
   ========================================================================== */

// $enable-xlarge-alignment-clasess:    true;




/*
   TRUMP VISIBILITY
   ========================================================================== */

// $enable-xlarge-visibility-clasess:   true;
// $enable-accessibility-classes:       true;
// $enable-table-classes:               true;




/*
   TRUMP SPACING
   ========================================================================== */

// $spacing-namespace:                  null;

// $spacing-margin:                     $base-spacing-unit;
// $spacing-padding:                    $base-spacing-unit;

// $enable-margins:                     true;
// $enable-margins--tiny:               true;
// $enable-margins--small:              true;
// $enable-margins--large:              true;
// $enable-margins--huge:               true;

// $enable-margins--negative:           true;
// $enable-margins--negative-tiny:      true;
// $enable-margins--negative-small:     true;
// $enable-margins--negative-large:     true;
// $enable-margins--negative-huge:      true;

// $enable-margins--none:               true;

// $enable-paddings:                    true;
// $enable-paddings--tiny:              true;
// $enable-paddings--small:             true;
// $enable-paddings--large:             true;
// $enable-paddings--huge:              true;

// $enable-paddings--none:              true;