// ==========================================================================
// Spacing
// ==========================================================================

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?";
}


$spacing-namespace:                  $namespace !default;

$spacing-margin:                     $base-spacing-unit;
$spacing-padding:                    $base-spacing-unit;

$enable-margins:                     false !default;
$enable-margins--tiny:               false !default;
$enable-margins--small:              false !default;
$enable-margins--large:              false !default;
$enable-margins--huge:               false !default;

$enable-margins--negative:           false !default;
$enable-margins--negative-tiny:      false !default;
$enable-margins--negative-small:     false !default;
$enable-margins--negative-large:     false !default;
$enable-margins--negative-huge:      false !default;

$enable-margins--none:               false !default;

$enable-paddings:                    false !default;
$enable-paddings--tiny:              false !default;
$enable-paddings--small:             false !default;
$enable-paddings--large:             false !default;
$enable-paddings--huge:              false !default;

$enable-paddings--none:              false !default;

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */

// Generates Spacing classes

@if ($enable-margins == true) {

  /**
   * Margin helper classes.
   *
   * Add margins.
   */

  .#{$spacing-namespace}m       { margin:           rem-calc($spacing-margin) !important; }
  .#{$spacing-namespace}mt      { margin-top:       rem-calc($spacing-margin) !important; }
  .#{$spacing-namespace}mr      { margin-right:     rem-calc($spacing-margin) !important; }
  .#{$spacing-namespace}mb      { margin-bottom:    rem-calc($spacing-margin) !important; }
  .#{$spacing-namespace}ml      { margin-left:      rem-calc($spacing-margin) !important; }
  .#{$spacing-namespace}mh      { margin-right:     rem-calc($spacing-margin) !important; margin-left:      rem-calc($spacing-margin) !important; }
  .#{$spacing-namespace}mv      { margin-top:       rem-calc($spacing-margin) !important; margin-bottom:    rem-calc($spacing-margin) !important; }

}


@if ($enable-margins--tiny == true) {

  /**
   * Add tiny margins.
   */

  .#{$spacing-namespace}m--     { margin:           rem-calc( quarter($spacing-margin)  )!important; }
  .#{$spacing-namespace}mt--    { margin-top:       rem-calc( quarter($spacing-margin)  )!important; }
  .#{$spacing-namespace}mr--    { margin-right:     rem-calc( quarter($spacing-margin)  )!important; }
  .#{$spacing-namespace}mb--    { margin-bottom:    rem-calc( quarter($spacing-margin)  )!important; }
  .#{$spacing-namespace}ml--    { margin-left:      rem-calc( quarter($spacing-margin)  )!important; }
  .#{$spacing-namespace}mh--    { margin-right:     rem-calc( quarter($spacing-margin)  )!important; margin-left:     rem-calc( quarter($spacing-margin)  )!important; }
  .#{$spacing-namespace}mv--    { margin-top:       rem-calc( quarter($spacing-margin)  )!important; margin-bottom:   rem-calc( quarter($spacing-margin)  )!important; }

}


@if ($enable-margins--small == true) {

  /**
   * Add small margins.
   */

  .#{$spacing-namespace}m-      { margin:           rem-calc( halve($spacing-margin)  )!important; }
  .#{$spacing-namespace}mt-     { margin-top:       rem-calc( halve($spacing-margin)  )!important; }
  .#{$spacing-namespace}mr-     { margin-right:     rem-calc( halve($spacing-margin)  )!important; }
  .#{$spacing-namespace}mb-     { margin-bottom:    rem-calc( halve($spacing-margin)  )!important; }
  .#{$spacing-namespace}ml-     { margin-left:      rem-calc( halve($spacing-margin)  )!important; }
  .#{$spacing-namespace}mh-     { margin-right:     rem-calc( halve($spacing-margin)  )!important; margin-left:   rem-calc( halve($spacing-margin)  )!important; }
  .#{$spacing-namespace}mv-     { margin-top:       rem-calc( halve($spacing-margin)  )!important; margin-bottom: rem-calc( halve($spacing-margin)  )!important; }

}


@if ($enable-margins--large == true) {

  /**
   * Add large margins.
   */

  .#{$spacing-namespace}m\+     { margin:           rem-calc( double($spacing-margin)  )!important; }
  .#{$spacing-namespace}mt\+    { margin-top:       rem-calc( double($spacing-margin)  )!important; }
  .#{$spacing-namespace}mr\+    { margin-right:     rem-calc( double($spacing-margin)  )!important; }
  .#{$spacing-namespace}mb\+    { margin-bottom:    rem-calc( double($spacing-margin)  )!important; }
  .#{$spacing-namespace}ml\+    { margin-left:      rem-calc( double($spacing-margin)  )!important; }
  .#{$spacing-namespace}mh\+    { margin-right:     rem-calc( double($spacing-margin)  )!important; margin-left:      rem-calc( double($spacing-margin)  )!important; }
  .#{$spacing-namespace}mv\+    { margin-top:       rem-calc( double($spacing-margin)  )!important; margin-bottom:    rem-calc( double($spacing-margin)  )!important; }

}


@if ($enable-margins--huge == true) {

  /**
   * Add huge margins.
   */

  .#{$spacing-namespace}m\+\+   { margin:           rem-calc( quadruple($spacing-margin)  )!important; }
  .#{$spacing-namespace}mt\+\+  { margin-top:       rem-calc( quadruple($spacing-margin)  )!important; }
  .#{$spacing-namespace}mr\+\+  { margin-right:     rem-calc( quadruple($spacing-margin)  )!important; }
  .#{$spacing-namespace}mb\+\+  { margin-bottom:    rem-calc( quadruple($spacing-margin)  )!important; }
  .#{$spacing-namespace}ml\+\+  { margin-left:      rem-calc( quadruple($spacing-margin)  )!important; }
  .#{$spacing-namespace}mh\+\+  { margin-right:     rem-calc( quadruple($spacing-margin)  )!important; margin-left:   rem-calc( quadruple($spacing-margin)  )!important; }
  .#{$spacing-namespace}mv\+\+  { margin-top:       rem-calc( quadruple($spacing-margin)  )!important; margin-bottom: rem-calc( quadruple($spacing-margin)  )!important; }

}


@if ($enable-margins--none == true) {

  /**
   * Remove margins.
   */

  .#{$spacing-namespace}m0      { margin:           0 !important; }
  .#{$spacing-namespace}mt0     { margin-top:       0 !important; }
  .#{$spacing-namespace}mr0     { margin-right:     0 !important; }
  .#{$spacing-namespace}mb0     { margin-bottom:    0 !important; }
  .#{$spacing-namespace}ml0     { margin-left:      0 !important; }
  .#{$spacing-namespace}mh0     { margin-right:     0 !important; margin-left:      0 !important; }
  .#{$spacing-namespace}mv0     { margin-top:       0 !important; margin-bottom:    0 !important; }

}


@if ($enable-margins--negative == true) {

  /**
   * Negative margins.
   */

  .#{$spacing-namespace}-m      { margin:           rem-calc(-$spacing-margin) !important; }
  .#{$spacing-namespace}-mt     { margin-top:       rem-calc(-$spacing-margin) !important; }
  .#{$spacing-namespace}-mr     { margin-right:     rem-calc(-$spacing-margin) !important; }
  .#{$spacing-namespace}-mb     { margin-bottom:    rem-calc(-$spacing-margin) !important; }
  .#{$spacing-namespace}-ml     { margin-left:      rem-calc(-$spacing-margin) !important; }
  .#{$spacing-namespace}-mh     { margin-right:     rem-calc(-$spacing-margin) !important; margin-left:      rem-calc(-$spacing-margin) !important; }
  .#{$spacing-namespace}-mv     { margin-top:       rem-calc(-$spacing-margin) !important; margin-bottom:    rem-calc(-$spacing-margin) !important; }

}


@if ($enable-margins--negative-tiny == true) {

  /**
   * Tiny negative margins.
   */

  .#{$spacing-namespace}-m--    { margin:           rem-calc( quarter(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mt--   { margin-top:       rem-calc( quarter(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mr--   { margin-right:     rem-calc( quarter(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mb--   { margin-bottom:    rem-calc( quarter(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-ml--   { margin-left:      rem-calc( quarter(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mh--   { margin-right:     rem-calc( quarter(-$spacing-margin) ) !important; margin-left:     rem-calc( quarter(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mv--   { margin-top:       rem-calc( quarter(-$spacing-margin) ) !important; margin-bottom:   rem-calc( quarter(-$spacing-margin) ) !important; }

}


@if ($enable-margins--negative-small == true) {

  /**
   * Small negative margins.
   */

  .#{$spacing-namespace}-m-     { margin:           rem-calc( halve(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mt-    { margin-top:       rem-calc( halve(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mr-    { margin-right:     rem-calc( halve(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mb-    { margin-bottom:    rem-calc( halve(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-ml-    { margin-left:      rem-calc( halve(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mh-    { margin-right:     rem-calc( halve(-$spacing-margin) ) !important; margin-left:   rem-calc( halve(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mv-    { margin-top:       rem-calc( halve(-$spacing-margin) ) !important; margin-bottom: rem-calc( halve(-$spacing-margin) ) !important; }

}


@if ($enable-margins--negative-large == true) {

  /**
   * Large negative margins.
   */

  .#{$spacing-namespace}-m\+    { margin:           rem-calc( double(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mt\+   { margin-top:       rem-calc( double(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mr\+   { margin-right:     rem-calc( double(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mb\+   { margin-bottom:    rem-calc( double(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-ml\+   { margin-left:      rem-calc( double(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mh\+   { margin-right:     rem-calc( double(-$spacing-margin) ) !important; margin-left:      rem-calc( double(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mv\+   { margin-top:       rem-calc( double(-$spacing-margin) ) !important; margin-bottom:    rem-calc( double(-$spacing-margin) ) !important; }

}


@if ($enable-margins--negative-huge == true) {

  /**
   * Huge negative margins.
   */

  .#{$spacing-namespace}-m\+\+  { margin:           rem-calc( quadruple(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mt\+\+ { margin-top:       rem-calc( quadruple(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mr\+\+ { margin-right:     rem-calc( quadruple(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mb\+\+ { margin-bottom:    rem-calc( quadruple(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-ml\+\+ { margin-left:      rem-calc( quadruple(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mh\+\+ { margin-right:     rem-calc( quadruple(-$spacing-margin) ) !important; margin-left:   rem-calc( quadruple(-$spacing-margin) ) !important; }
  .#{$spacing-namespace}-mv\+\+ { margin-top:       rem-calc( quadruple(-$spacing-margin) ) !important; margin-bottom: rem-calc( quadruple(-$spacing-margin) ) !important; }

}


@if ($enable-paddings == true) {

  /**
   * Padding helper classes.
   *
   * Add paddings.
   */

  .#{$spacing-namespace}p       { padding:          rem-calc($spacing-padding) !important; }
  .#{$spacing-namespace}pt      { padding-top:      rem-calc($spacing-padding) !important; }
  .#{$spacing-namespace}pr      { padding-right:    rem-calc($spacing-padding) !important; }
  .#{$spacing-namespace}pb      { padding-bottom:   rem-calc($spacing-padding) !important; }
  .#{$spacing-namespace}pl      { padding-left:     rem-calc($spacing-padding) !important; }
  .#{$spacing-namespace}ph      { padding-right:    rem-calc($spacing-padding) !important; padding-left:    rem-calc($spacing-padding) !important; }
  .#{$spacing-namespace}pv      { padding-top:      rem-calc($spacing-padding) !important; padding-bottom:  rem-calc($spacing-padding) !important; }

}


@if ($enable-paddings--tiny == true) {

  /**
   * Add tiny paddings.
   */

  .#{$spacing-namespace}p--     { padding:           rem-calc( quarter($spacing-padding) ) !important; }
  .#{$spacing-namespace}pt--    { padding-top:       rem-calc( quarter($spacing-padding) ) !important; }
  .#{$spacing-namespace}pr--    { padding-right:     rem-calc( quarter($spacing-padding) ) !important; }
  .#{$spacing-namespace}pb--    { padding-bottom:    rem-calc( quarter($spacing-padding) ) !important; }
  .#{$spacing-namespace}pl--    { padding-left:      rem-calc( quarter($spacing-padding) ) !important; }
  .#{$spacing-namespace}ph--    { padding-right:     rem-calc( quarter($spacing-padding) ) !important; padding-left:      rem-calc( quarter($spacing-padding) ) !important; }
  .#{$spacing-namespace}pv--    { padding-top:       rem-calc( quarter($spacing-padding) ) !important; padding-bottom:    rem-calc( quarter($spacing-padding) ) !important; }

}


@if ($enable-paddings--small == true) {

  /**
   * Add small paddings.
   */

  .#{$spacing-namespace}p-      { padding:           rem-calc( halve($spacing-padding) ) !important; }
  .#{$spacing-namespace}pt-     { padding-top:       rem-calc( halve($spacing-padding) ) !important; }
  .#{$spacing-namespace}pr-     { padding-right:     rem-calc( halve($spacing-padding) ) !important; }
  .#{$spacing-namespace}pb-     { padding-bottom:    rem-calc( halve($spacing-padding) ) !important; }
  .#{$spacing-namespace}pl-     { padding-left:      rem-calc( halve($spacing-padding) ) !important; }
  .#{$spacing-namespace}ph-     { padding-right:     rem-calc( halve($spacing-padding) ) !important; padding-left:    rem-calc( halve($spacing-padding) ) !important; }
  .#{$spacing-namespace}pv-     { padding-top:       rem-calc( halve($spacing-padding) ) !important; padding-bottom:  rem-calc( halve($spacing-padding) ) !important; }

}


@if ($enable-paddings--large == true) {

  /**
   * Add large paddings.
   */

  .#{$spacing-namespace}p\+     { padding:           rem-calc( double($spacing-padding) ) !important; }
  .#{$spacing-namespace}pt\+    { padding-top:       rem-calc( double($spacing-padding) ) !important; }
  .#{$spacing-namespace}pr\+    { padding-right:     rem-calc( double($spacing-padding) ) !important; }
  .#{$spacing-namespace}pb\+    { padding-bottom:    rem-calc( double($spacing-padding) ) !important; }
  .#{$spacing-namespace}pl\+    { padding-left:      rem-calc( double($spacing-padding) ) !important; }
  .#{$spacing-namespace}ph\+    { padding-right:     rem-calc( double($spacing-padding) ) !important; padding-left:   rem-calc( double($spacing-padding) ) !important; }
  .#{$spacing-namespace}pv\+    { padding-top:       rem-calc( double($spacing-padding) ) !important; padding-bottom: rem-calc( double($spacing-padding) ) !important; }

}


@if ($enable-paddings--huge == true) {

  /**
   * Add huge paddings.
   */

  .#{$spacing-namespace}p\+\+   { padding:           rem-calc( quadruple($spacing-padding) ) !important; }
  .#{$spacing-namespace}pt\+\+  { padding-top:       rem-calc( quadruple($spacing-padding) ) !important; }
  .#{$spacing-namespace}pr\+\+  { padding-right:     rem-calc( quadruple($spacing-padding) ) !important; }
  .#{$spacing-namespace}pb\+\+  { padding-bottom:    rem-calc( quadruple($spacing-padding) ) !important; }
  .#{$spacing-namespace}pl\+\+  { padding-left:      rem-calc( quadruple($spacing-padding) ) !important; }
  .#{$spacing-namespace}ph\+\+  { padding-right:     rem-calc( quadruple($spacing-padding) ) !important; padding-left:    rem-calc( quadruple($spacing-padding) ) !important; }
  .#{$spacing-namespace}pv\+\+  { padding-top:       rem-calc( quadruple($spacing-padding) ) !important; padding-bottom:  rem-calc( quadruple($spacing-padding) ) !important; }

}


@if ($enable-paddings--none == true) {

  /**
   * Remove paddings.
   */

  .#{$spacing-namespace}p0      { padding:          0 !important; }
  .#{$spacing-namespace}pt0     { padding-top:      0 !important; }
  .#{$spacing-namespace}pr0     { padding-right:    0 !important; }
  .#{$spacing-namespace}pb0     { padding-bottom:   0 !important; }
  .#{$spacing-namespace}pl0     { padding-left:     0 !important; }
  .#{$spacing-namespace}ph0     { padding-right:    0 !important; padding-left:     0 !important; }
  .#{$spacing-namespace}pv0     { padding-top:      0 !important; padding-bottom:   0 !important; }

}
