// ==========================================================================
// Text Alignment
// ==========================================================================

// Partial to align Text Left, Right, Center or Justify
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-justify {text-align: justify !important; }
