// ==========================================================================
// COLORS NAME
// ==========================================================================

// The color names in this list were found via: zeplion, BL Styleguide
// https://app.zeplin.io/project.html#pid=579f5b2eb7000a2f101247c1&sid=57ba7c1d0efc634671ec60b5

$primary:                   #3498db;
$primary--dark:             #1b6fa8;
$primary--super-dark:       #206899;
$primary--light:            #66B2E5;

$black:                     #333;    // defaut text color
$charcoal:                  #666;    // ?
$white:                     #fff;    // html background color

$ash:                       #bbb;    // disable text color
$ash--dark:                 #999;    // secondary text color
$ash--light:                #ddd;    // border color

$sand:                      #f5f5f5; // background dark color
$sand--dark:                #eee;    // ?
$sand--light:               #fafafa; // ?

$green:                     #87cc62;
$green--dark:               #74b94e;
$green--super-dark:         #5eab34;
$green--light:              #9fd681;
$green--super-light:        #edf8e8;

$yellow:                    #ffc53e;
$yellow--dark:              #e6b138;
$yellow--super-dark:        #d9a735;
$yellow--light:             #ffd165;
$yellow--super-light:       #fff7e2;

$red:                       #ff566a;
// $red--dark:                 #xxx;
// $red--light:                #xxx;
$red--super-light:          #ffe6e9;

$azure:                     #4e9bf6; // outline focus input field | custom radio or checkbox
