/*
   High-level base settings.
   ========================================================================== */
/**
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */
$base-font-family-sans-serif:          "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$base-font-family-serif:               Georgia, Cambria, "Times New Roman", Times, serif !default;
$base-font-family-monospace:           Consolas, "Liberation Mono", Courier, monospace !default;

$base-font-family:                     $base-font-family-sans-serif !default;
$base-font-size:                       16px !default;
$base-font-weight:                     normal !default;

$base-line-height:                     24px !default;
$base-text-color:                      #333 !default;
$base-text-color-alt:                  #fff !default;
$base-background-color:                #fff !default;

$base-spacing-unit:                    $base-line-height !default;

$base-radius:                          3px !default;
