/* ==========================================================================
   OBJECTS SETTINGS
   ========================================================================== */
/**
 *
 * This file contain all available feature in csskit;
 * By default, csskit disable all feature, so that you can get
 * as little as you need.
 *
 * If you want to enable some feture or modifier.
 * All you have to do is unncomment these variables.
 * And the framework will import them to your compiled css.
 */




/*
   OBJECT BLOCK
   ========================================================================== */

$block-namespace:                    $namespace;

$block-gutter:                       $base-spacing-unit;
$block-gutter--tiny:                 quarter($block-gutter);
$block-gutter--small:                half($block-gutter);
$block-gutter--large:                double($block-gutter);
$block-gutter--huge:                 quadruple($block-gutter);

$enable-block--flush:                true;
$enable-block--tiny:                 true;
$enable-block--small:                true;
$enable-block--large:                true;
$enable-block--huge:                 true;
$enable-block--center:               true;
$enable-block--right:                true;




/*
   OBJECT BOX
   ========================================================================== */

$box-namespace:                      $namespace;

$box-padding:                        $base-spacing-unit;
$box-padding--tiny:                  quarter($box-padding);
$box-padding--small:                 half($box-padding);
$box-padding--large:                 double($box-padding);
$box-padding--huge:                  quadruple($box-padding);

$enable-box--flush:                  true;
$enable-box--tiny:                   true;
$enable-box--small:                  true;
$enable-box--large:                  true;
$enable-box--huge:                   true;

$enable-box--primary:                true;
$enable-box--secondary:              true;
$enable-box--alert:                  true;
$enable-box--success:                true;
$enable-box--warning:                true;
$enable-box--info:                   true;




/*
   OBJECT BUTTONS
   ========================================================================== */

$btn-namespace:                      $namespace;

$btn-padding:                        half($base-spacing-unit);
$btn-padding--small:                 half($btn-padding);
$btn-padding--large:                 double($btn-padding);
$btn-background:                     $color-primary;
$btn-color:                          #fff;
$btn-border-width:                   1px;
$btn-border-style:                   solid;
$btn-border-color:                   $btn-background;
$btn-radius:                         $base-radius;

$enable-btn--small:                  true;
$enable-btn--large:                  true;
$enable-btn--full:                   true;
$enable-btn--pill:                   true;

$enable-button--alert:               true;
$enable-button--warning:             true;
$enable-button--success:             true;
$enable-button--info:                true;
$enable-button--secondary:           true;




/*
   OBJECT FLAG
   ========================================================================== */

$flag-namespace:                     $namespace;

$flag-gutter:                        $base-spacing-unit;
$flag-gutter--tiny:                  quarter($flag-gutter);
$flag-gutter--small:                 half($flag-gutter);
$flag-gutter--large:                 double($flag-gutter);
$flag-gutter--huge:                  quadruple($flag-gutter);

$enable-flag--tiny:                  true;
$enable-flag--small:                 true;
$enable-flag--large:                 true;
$enable-flag--huge:                  true;
$enable-flag--rev:                   true;
$enable-flag--flush:                 true;
$enable-flag--top:                   true;
$enable-flag--bottom:                true;
$enable-flag--responsive:            true;
$flag-collapse-at:                   upper-bound($small-range);




/*
   OBJECT LIST BLOCK
   ========================================================================== */

$list-block-namespace:               $namespace;

$list-block-padding:                 $base-spacing-unit;
$list-block-padding--tiny:           quarter($list-block-padding);
$list-block-padding--small:          half($list-block-padding);
$list-block-padding--large:          double($list-block-padding);
$list-block-padding--huge:           quadruple($list-block-padding);

$enable-list-block--tiny:            true;
$enable-list-block--small:           true;
$enable-list-block--large:           true;
$enable-list-block--huge:            true;




/*
   OBJECT LIST DULL
   ========================================================================== */

$list-dull-namespace:                $namespace;




/*
   OBJECT LIST INLINE
   ========================================================================== */

$list-inline-namespace:              $namespace;

$enable-list-inline--delimited:      true;
$list-inline-delimit-character:      ",\00A0";




/*
   OBJECT LIST UI
   ========================================================================== */

$list-ui-namespace:                  $namespace;

$list-ui-padding:                    $base-spacing-unit;
$list-ui-padding--tiny:              quarter($list-ui-padding);
$list-ui-padding--small:             half($list-ui-padding);
$list-ui-padding--large:             double($list-ui-padding);
$list-ui-padding--huge:              quadruple($list-ui-padding);

$list-ui-border-width:               1px;
$list-ui-border-style:               solid;
$list-ui-border-color:               #ccc;

$enable-list-ui--tiny:               true;
$enable-list-ui--small:              true;
$enable-list-ui--large:              true;
$enable-list-ui--huge:               true;




/*
   OBJECT MEDIA
   ========================================================================== */

$media-namespace:                    $namespace;

$media-gutter:                       $base-spacing-unit;
$media-gutter--tiny:                 quarter($media-gutter);
$media-gutter--small:                half($media-gutter);
$media-gutter--large:                double($media-gutter);
$media-gutter--huge:                 quadruple($media-gutter);
$media-collapse-at:                  720px;

$enable-media--tiny:                 true;
$enable-media--small:                true;
$enable-media--large:                true;
$enable-media--huge:                 true;
$enable-media--rev:                  true;
$enable-media--flush:                true;
$enable-media--responsive:           true;




/*
   OBJECT PACK
   ========================================================================== */

$pack-namespace:                     $namespace;

$pack-gutter:                        $base-spacing-unit;
$pack-gutter--tiny:                  quarter($pack-gutter);
$pack-gutter--small:                 half($pack-gutter);
$pack-gutter--large:                 double($pack-gutter);
$pack-gutter--huge:                  quadruple($pack-gutter);

$enable-pack--auto:                  true;
$enable-pack--tiny:                  true;
$enable-pack--small:                 true;
$enable-pack--large:                 true;
$enable-pack--huge:                  true;
$enable-pack--rev:                   true;
$enable-pack--middle:                true;
$enable-pack--bottom:                true;




/*
   OBJECT TABLES
   ========================================================================== */

$table-namespace:                    $namespace;

$table-padding--compact:             quarter($base-spacing-unit);
$table-padding--cosy:                half($base-spacing-unit);
$table-padding--comfy:               $base-spacing-unit;

$table-border-width:                 1px;
$table-border-style:                 solid;
$table-border-color:                 #eee;

$enable-table--fixed:                true;
$enable-table--compact:              true;
$enable-table--cosy:                 true;
$enable-table--comfy:                true;
$enable-table--cells:                true;
$enable-table--rows:                 true;
$enable-table--columns:              true;




/*
   OBJECT TABS
   ========================================================================== */

$tabs-namespace:                     $namespace;