/* ==========================================================================
   Framework Main File
   ========================================================================== */
/**
 * YOU SHOULD PREDEFINE THE VARIABLES BEFORE IMPORT THE RELEVANT FILES
 */

/*
   SETTINGS
   ========================================================================== */
/**
 * Global variables, site-wide settings, config switches, etc.
 *
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */

$base-font-family-sans-serif:          "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$base-font-family-serif:               Georgia, Cambria, "Times New Roman", Times, serif;
$base-font-family-monospace:           Consolas, "Liberation Mono", Courier, monospace;
$base-font-family:                     $base-font-family-sans-serif;
$base-font-size:                       16px;
$base-font-weight:                     normal;

$base-text-color:                      #333;
$base-text-color-alt:                  #fff;
$base-background-color:                #fff;

$base-line-height:                     28px;
$base-spacing-unit:                    $base-line-height;
$base-spacing-unit--small:             round($base-spacing-unit / 2);
$base-spacing-unit--large:             round($base-spacing-unit * 2);

$base-radius:                          4px;


/**
 * We use these as default colors throughout
 * Ref: http://www.flatuicolorpicker.com/
 */

$color-primary:                         #3A539B; //CHAMBRAY
$color-secondary:                       #bdc3c7; //SILVER
$color-alert:                           #EF4836; //FLAMINGO
$color-success:                         #2ECC71; //SHAMROCK
$color-warning:                         #F7CA18; //RIPE LEMON
$color-info:                            #3498DB; //CURIOUS BLUE


/**
 * We use these as default total columns throughout the framework.
 */

$columns-total:                         12;
$columns-gutter:                        24px;
$container-width:                       1000px;


/**
 * Hold our breakpoint range and conditions.
 *
 * These can be invoked later on using this line of code:
 *
 * @media #{conditions}{
 *   @content;
 * }
 */

$screen: "only screen";

$small-range:                           (0px, 720px);
$medium-range:                          (721px, 1024px);
$large-range:                           (1025px, 1440px);
$xlarge-range:                          (1441px, 1920px);
$xxlarge-range:                         (1921px, 99999999px);

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";


/**
 * Would you like classes to be prepended with a namespace? If so,
 * define it here.
 */

$namespace: null;


@import "0-settings/settings.defaults";




/*
   TOOLS
   ========================================================================== */
/**
 * Site-wide mixins and functions.
 *
 * [1] Function
 *     base
 *     grids
 *     responsive
 *
 * [2] Mixins
 *     base
 *     css
 */

@import "1-tools/tools.functions-base";
@import "1-tools/tools.functions-grids";
@import "1-tools/tools.functions-responsive";

@import "1-tools/tools.mixins-base";
@import "1-tools/tools.mixins-css";




/*
   GENERIC
   ========================================================================== */
/**
 *  Low-specificity, far-reaching rulesets (e.g. CSS resets)
 *
 * [1] Normalize
 * [2] Reset
 * [3] Box Sizing
 */

/* [1] */
@import "2-generic/generic.normalize";

/* [2] */
@import "2-generic/generic.reset";

/* [3] */
@import "2-generic/generic.box-sizing";




/*
   BASE
   ========================================================================== */
/**
 * Uncllassed HTML elements (eg. a{}, p{}, blockquote{} )
 *
 * [1] Page
 * [2] Headings
 * [3] Paragraphs
 * [4] Links
 * [5] Images
 * [5] List
 * [6] Hr
 * [7] Blockquote
 * [8] Forms
 */

/* [1] */
@import "3-base/base.page";

/* [2] */
$heading-size-1:       36px;
$heading-size-2:       30px;
$heading-size-3:       24px;
$heading-size-4:       20px;
$heading-size-5:       18px;
$heading-size-6:       16px;
$heading-line-height:  1.5;
$header-font-family:   $base-font-family;
$header-font-weight:   $base-font-weight;

@import "3-base/base.headings";

/* [3] */
$lead-size:   1.250;

@import "3-base/base.paragraphs";


/* [4] */
$anchor-font-color: $color-info;
$anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

@import "3-base/base.links";

/* [5] */
@import "3-base/base.images";

/* [6] */
@import "3-base/base.lists";

/* [7] */
$hr-border-width:  1px;
$hr-border-style:  solid;
$hr-border-color:  $color-secondary;
$hr-margin:        rem-calc($base-spacing-unit);
@import "3-base/base.hr";

/* [8] */
$blockquote-font-size: rem-calc(18);
$blockquote-footer-font-size: 80%;
$blockquote-footer-font-color: scale-color($base-text-color, $lightness: 30%);
$blockquote-padding: half($base-spacing-unit) $base-spacing-unit;
$blockquote-border-width: rem-calc(5);
$blockquote-border-color: #eee;
@import "3-base/base.blockquote";

/* [9] */
$form-font-size:                        $base-font-size;
$form-content-bg:                       darken(#fff, 2%);
$form-border-width:                     1px;
$form-border-color:                     #ddd;
$form-border-color-hover:               darken($form-border-color, 5%);
$form-label-pointer:                    pointer;
$form-label-font-weight:                bold;
$form-label-line-height:                1.5;
$form-label-font-color:                 scale-color($base-text-color, $lightness: 30%);
$form-label-small-transform:            capitalize;
$form-label-bottom-margin:              rem-calc(5);
@import "3-base/base.forms";



/*
   OBJECTS
   ========================================================================== */
/**
 * Objects, abstractions, and design patterns
 * (e.g. .media {}, .button{}, .list{}).
 *
 * [1]  Block
 * [2]  Box
 * [3]  Buttons
 * [4]  Flag
 * [5]  List Block
 * [6]  List Dull
 * [7]  List Inline
 * [8]  List UI
 * [9]  Nav
 * [10] Media
 * [11] Pack
 * [12] Table
 * [13] Tabs
 */

/* [1] */
$block-namespace:                    $namespace;

$block-gutter:                       $base-spacing-unit;
$block-gutter--tiny:                 quarter($block-gutter);
$block-gutter--small:                half($block-gutter);
$block-gutter--large:                double($block-gutter);
$block-gutter--huge:                 quadruple($block-gutter);

$enable-block--flush:                true;
$enable-block--tiny:                 true;
$enable-block--small:                true;
$enable-block--large:                true;
$enable-block--huge:                 true;
$enable-block--center:               true;
$enable-block--right:                true;


@import "4-objects/objects.block";


/* [2] */
$box-namespace:                      $namespace;

$box-padding:                        $base-spacing-unit;
$box-padding--tiny:                  quarter($box-padding);
$box-padding--small:                 half($box-padding);
$box-padding--large:                 double($box-padding);
$box-padding--huge:                  quadruple($box-padding);

$enable-box--flush:                  true;
$enable-box--tiny:                   true;
$enable-box--small:                  true;
$enable-box--large:                  true;
$enable-box--huge:                   true;

$enable-box--primary:                true;
$enable-box--secondary:              true;
$enable-box--alert:                  true;
$enable-box--success:                true;
$enable-box--warning:                true;
$enable-box--info:                   true;

@import "4-objects/objects.box";


/* [3] */
$btn-namespace:                      $namespace;

$btn-padding:                        half($base-spacing-unit);
$btn-padding--small:                 half($btn-padding);
$btn-padding--large:                 double($btn-padding);
$btn-background:                     $color-primary;
$btn-color:                          #fff;
$btn-border-width:                   1px;
$btn-border-style:                   solid;
$btn-border-color:                   $btn-background;
$btn-radius:                         $base-radius;

$enable-btn--small:                  true;
$enable-btn--large:                  true;
$enable-btn--full:                   true;
$enable-btn--pill:                   true;

$enable-button--alert:               true;
$enable-button--warning:             true;
$enable-button--success:             true;
$enable-button--info:                true;
$enable-button--secondary:           true;

@import "4-objects/objects.buttons";


/* [4] */
$flag-namespace:                     $namespace;

$flag-gutter:                        $base-spacing-unit;
$flag-gutter--tiny:                  quarter($flag-gutter);
$flag-gutter--small:                 half($flag-gutter);
$flag-gutter--large:                 double($flag-gutter);
$flag-gutter--huge:                  quadruple($flag-gutter);

$enable-flag--tiny:                  true;
$enable-flag--small:                 true;
$enable-flag--large:                 true;
$enable-flag--huge:                  true;
$enable-flag--rev:                   true;
$enable-flag--flush:                 true;
$enable-flag--top:                   true;
$enable-flag--bottom:                true;
$enable-flag--responsive:            true;
$flag-collapse-at:                   upper-bound($small-range);

@import "4-objects/objects.flag";


/* [5] */
$list-block-namespace:               $namespace;

$list-block-padding:                 $base-spacing-unit;
$list-block-padding--tiny:           quarter($list-block-padding);
$list-block-padding--small:          half($list-block-padding);
$list-block-padding--large:          double($list-block-padding);
$list-block-padding--huge:           quadruple($list-block-padding);

$enable-list-block--tiny:            true;
$enable-list-block--small:           true;
$enable-list-block--large:           true;
$enable-list-block--huge:            true;

@import "4-objects/objects.list-block";


/* [6] */
$list-dull-namespace:                $namespace;
@import "4-objects/objects.list-dull";


/* [7] */
$list-inline-namespace:              $namespace;

$enable-list-inline--delimited:      true;
$list-inline-delimit-character:      ",\00A0";

@import "4-objects/objects.list-inline";

/* [8] */
$list-ui-namespace:                  $namespace;

$list-ui-padding:                    $base-spacing-unit;
$list-ui-padding--tiny:              quarter($list-ui-padding);
$list-ui-padding--small:             half($list-ui-padding);
$list-ui-padding--large:             double($list-ui-padding);
$list-ui-padding--huge:              quadruple($list-ui-padding);

$list-ui-border-width:               1px;
$list-ui-border-style:               solid;
$list-ui-border-color:               #ccc;

$enable-list-ui--tiny:               true;
$enable-list-ui--small:              true;
$enable-list-ui--large:              true;
$enable-list-ui--huge:               true;

@import "4-objects/objects.list-ui";


/* [9] */
//$nav-namespace:                   $namespace;

$nav--keyword-delimit-character:  "\002C" "\00A0";

$enable-nav--block:               true;
$enable-nav--stacked:             true;
$enable-nav--banner:              true;
$enable-nav--fit:                 true;
$enable-nav--keyword:             true;

@import "4-objects/objects.nav";


/* [10] */
$media-namespace:                    $namespace;

$media-gutter:                       $base-spacing-unit;
$media-gutter--tiny:                 quarter($media-gutter);
$media-gutter--small:                half($media-gutter);
$media-gutter--large:                double($media-gutter);
$media-gutter--huge:                 quadruple($media-gutter);
$media-collapse-at:                  720px;

$enable-media--tiny:                 true;
$enable-media--small:                true;
$enable-media--large:                true;
$enable-media--huge:                 true;
$enable-media--rev:                  true;
$enable-media--flush:                true;
$enable-media--responsive:           true;

@import "4-objects/objects.media";


/* [11] */
$pack-namespace:                     $namespace;

$pack-gutter:                        $base-spacing-unit;
$pack-gutter--tiny:                  quarter($pack-gutter);
$pack-gutter--small:                 half($pack-gutter);
$pack-gutter--large:                 double($pack-gutter);
$pack-gutter--huge:                  quadruple($pack-gutter);

$enable-pack--auto:                  true;
$enable-pack--tiny:                  true;
$enable-pack--small:                 true;
$enable-pack--large:                 true;
$enable-pack--huge:                  true;
$enable-pack--rev:                   true;
$enable-pack--middle:                true;
$enable-pack--bottom:                true;

@import "4-objects/objects.pack";


/* [12] */
$table-namespace:                    $namespace;

$table-padding--compact:             quarter($base-spacing-unit);
$table-padding--cosy:                half($base-spacing-unit);
$table-padding--comfy:               $base-spacing-unit;

$table-border-width:                 1px;
$table-border-style:                 solid;
$table-border-color:                 #eee;

$enable-table--fixed:                true;
$enable-table--compact:              true;
$enable-table--cosy:                 true;
$enable-table--comfy:                true;
$enable-table--cells:                true;
$enable-table--rows:                 true;
$enable-table--columns:              true;

@import "4-objects/objects.tables";


/* [13] */
$tabs-namespace:                     $namespace;
@import "4-objects/objects.tabs";




/*
   COMPONENTS
   ========================================================================== */
/**
 * Discrete, complete chunks of UI (e.g. .carousel {}, .topbar{}).
 * This is the one layer that the framework doesn't get involved with.
 * So, import your own components here and do your magic!
 *
 * @import "components.mycomponents1";
 * @import "components.mycomponents2";
 */




/*
   TRUMPS
   ========================================================================== */
/**
 * High-specificity, very explicit selectors.
 * Overrides and helper classes (e.g. .hidden {}).
 *
 * [1] Alignment
 * [1+] Alignment Responsive
 * [2] Spacing
 * [2+] Spacing Responsive
 * [3+] Visibility Responsive
 * [4] Text transform
 * [5] Float
 * [6] Clearfix
 * [7] Print
 */

/* [1] */
$enable-xlarge-alignment-clasess:    true;

@import "6-trumps/trumps.alignment";
@import "6-trumps/trumps.alignment-responsive";


/* [2] */
$spacing-namespace:                  $namespace;

$spacing-margin:                     $base-spacing-unit;
$spacing-padding:                    $base-spacing-unit;

$enable-margins:                     true;
$enable-margins--tiny:               true;
$enable-margins--small:              true;
$enable-margins--large:              true;
$enable-margins--huge:               true;

$enable-margins--negative:           true;
$enable-margins--negative-tiny:      true;
$enable-margins--negative-small:     true;
$enable-margins--negative-large:     true;
$enable-margins--negative-huge:      true;

$enable-margins--none:               true;

$enable-paddings:                    true;
$enable-paddings--tiny:              true;
$enable-paddings--small:             true;
$enable-paddings--huge:              true;

$enable-paddings--none:              true;

@import "6-trumps/trumps.spacing";


/* [3] */
$enable-xlarge-visibility-clasess:   true;
$enable-accessibility-classes:       true;
$enable-table-classes:               true;

@import "6-trumps/trumps.visibility";
@import "6-trumps/trumps.visibility-responsive";


/* [4] */
@import "6-trumps/trumps.text-transform";


/* [5] */
@import "6-trumps/trumps.float";


/* [6] */
@import "6-trumps/trumps.clearfix";


/* [7] */
@import "6-trumps/trumps.print";