// ==========================================================================
// HIGH-LEVEL BASE SETTINGS
// ==========================================================================

// These variables are framework variables.
// Feel free to use these variables throughout your project.

$base-font-family:                     "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:                       14px !default;
$base-font-weight:                     normal !default;

$base-line-height:                     22px !default;
$base-text-color:                      #666 !default;
$base-background-color:                #fff !default;

$base-spacing-unit:                    $base-line-height !default;

$base-radius:                          3px !default;

$base-h1-font-size:                    24px !default;
$base-h2-font-size:                    18px !default;
$base-h3-font-size:                    16px !default;
$base-h4-font-size:                    14px !default;

$base-lede-font-size:                  16px !default;

$base-color-treshold:                  65% !default;

$base-container-width:                 960px !default;


// Let other now this file has been included;
$imported-default-settings: true;
