/* ==========================================================================
   HR
   ========================================================================== */

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}

$import-base-hr: false !default;

$hr-border-width:  1px !default;
$hr-border-style:  solid !default;
$hr-border-color:  $color-secondary !default;
$hr-margin:        rem-calc($base-spacing-unit) !default;

@mixin import-base-hr{

  hr{
    border: $hr-border-style $hr-border-color;
    border-width: $hr-border-width 0 0;
    margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
    clear: both;
    height: 0;
  }

}


//export them
@if $import-base-hr == true{
  @include import-base-hr;
}