/* ==========================================================================
   LINKS
   ========================================================================== */

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}


$anchor-font-color: $color-info !default;
$anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -14%) !default;
$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: none !default;


a {
  color: $anchor-font-color;
  text-decoration: $anchor-text-decoration;
  line-height: inherit;

  @include transition(color);

  &:hover,
  &:focus {
    color: $anchor-font-color-hover;
    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }

  img { border:none; }
}