/* ==========================================================================
   FORM ELEMENTS
   ========================================================================== */


// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}

$import-base-forms: false !default;

$form-font-size:                        $base-font-size !default;
$form-content-bg:                       darken(#fff, 2%) !default;
$form-border-width:                     1px !default;
$form-border-color:                     #ddd !default;
$form-border-color-hover:               darken($form-border-color, 5%) !default;
$form-label-pointer:                    pointer !default;
$form-label-font-weight:                bold !default;
$form-label-line-height:                1.5 !default;
$form-label-font-color:                 scale-color($base-text-color, $lightness: 30%) !default;
$form-label-small-transform:            capitalize !default;
$form-label-bottom-margin:              rem-calc(5) !default;

@mixin import-base-forms{

  fieldset {
    background: $form-content-bg;
    border: $form-border-width solid $form-border-color;
    margin: 0 0 half($base-spacing-unit) 0;
    padding: $base-spacing-unit;
  }

  input,
  label,
  select {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
  }

  label {
    font-weight: $form-label-font-weight;
    line-height: $form-label-line-height;
    color: $form-label-font-color;
    margin-bottom: $form-label-bottom-margin;

    &.required:after {
      content: "*";
    }

    abbr{
      display: none;
    }
  }

  textarea,
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  select {

    @include box-sizing;

    @include transition(border-color);

    @include border-radius($base-radius);


    background-color: lighten($form-content-bg, 1%);
    border: $form-border-width solid $form-border-color;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.04);

    font-family: $base-font-family;
    font-size: $base-font-size;
    margin-bottom: half($base-spacing-unit);
    padding: half($base-spacing-unit);

    width: 100%;

    &:hover{
      border-color: $form-border-color-hover;
    }

    &:focus{
      border-color: $color-info;
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),
                  0 0 3px rgba($color-info,0.5);
      outline: none;
    }
  }

  textarea {
    resize: vertical;
  }

  input[type="search"] {
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    margin-right: quarter($base-spacing-unit);
  }

  input[type="file"] {
    margin-bottom: half($base-spacing-unit);
    padding-bottom: half($base-spacing-unit);
    width: 100%;
  }

}




//export them
@if $import-base-forms == true{
  @include import-base-forms;
}