/* ==========================================================================
   PARAGRAPHS
   ========================================================================== */

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?"
}


$lead-size:   1.250 !default;


/**
 * The `.lead` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
 *
 * Predefine the variables below in order to alter and enable specific features.
 */

p{
  margin-bottom: $base-spacing-unit;
}

.#{$namespace}lead,
%#{$namespace}lead {
  @include font-size($base-font-size * $lead-size);
}