/*
   Math Helpers.
   ========================================================================== */
/**
 * Half and double numbers, returning rounded integers. E.g.:
 * .foo{
 *  padding: halve(30px)
 * }
 */

@function quarter($number) {
  @return round($number / 4);
}

@function halve($number) {
  @return round($number / 2);
}

@function double($number) {
  @return round($number * 2);
}

@function quadruple($number) {
  @return round($number * 4);
}

@function percent-calc($percentage, $number){
  @return round( $number * ( parse-int($percentage) / 100 ) );
}

// Calculates the value of a number raised to the power of an exponent.
@function pow($x, $y) {
  $ret: 1;

  @if $y > 0 {
    @for $i from 1 through $y {
        $ret: $ret * $x;
    }
  }

  @else {
    @for $i from $y to 0 {
        $ret: $ret / $x;
    }
  }

  @return $ret;
}