// ==========================================================================
// HEADINGS
// ==========================================================================
// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?";
}


// Redefine all of our basic heading styles against utility classes so as to
// allow for double stranded heading hierarchy, e.g. we semantically need an H2,
// but we want it to be sized like an H1:
//
//   <h2 class="h1"></h2>

.h1 {
  @include font-size($base-h1-font-size, 1.2);
  line-height: rem-calc(30px);
}

.h2 {
  @include font-size($base-h2-font-size, false);
  line-height: rem-calc(24px);
}

.h3 {
  @include font-size($base-h3-font-size, false);
  line-height: rem-calc(24px);
}

.h4 {
  @include font-size($base-h4-font-size, false);
  line-height: rem-calc(22px);
}


.heading {
  display: block;
  padding: rem-calc(halve($base-spacing-unit));
  background-color: color("background", "dark");
  font-size: rem-calc(16);
  font-weight: bold;

  .grid__item > & {
    margin-left: -#{rem-calc(halve($base-spacing-unit))};
    margin-right: -#{rem-calc(halve($base-spacing-unit))};
  }
}
