// ==========================================================================
// WIDTH
// ==========================================================================

// Here we set a variable assuming that default settings are not set
// globally. If they have been previously been defined, the following variable
// will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included a default settings file?";
}

@include mq (small-up) {
  .small-1 {
    width: 100%;
  }

  .small-1of2 {
    width: grid-calc(1, 2);
  }

  .small-1of3 {
    width: grid-calc(1, 3);
  }

  .small-2of3 {
    width: grid-calc(2, 3);
  }

  .small-1of4 {
    width: grid-calc(1, 4);
  }

  .small-2of4 {
    width: grid-calc(2, 4);
  }

  .small-3of4 {
    width: grid-calc(3, 4);
  }

  .small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

@include mq (medium-up) {
  .medium-1 {
    width: 100%;
  }

  .medium-1of2 {
    width: grid-calc(1, 2);
  }

  .medium-1of3 {
    width: grid-calc(1, 3);
  }

  .medium-2of3 {
    width: grid-calc(2, 3);
  }

  .medium-1of4 {
    width: grid-calc(1, 4);
  }

  .medium-2of4 {
    width: grid-calc(2, 4);
  }

  .medium-3of4 {
    width: grid-calc(3, 4);
  }

  .medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

@include mq (large-up) {
  .large-1 {
    width: 100%;
  }

  .large-1of2 {
    width: grid-calc(1, 2);
  }

  .large-1of3 {
    width: grid-calc(1, 3);
  }

  .large-2of3 {
    width: grid-calc(2, 3);
  }

  .large-1of4 {
    width: grid-calc(1, 4);
  }

  .large-2of4 {
    width: grid-calc(2, 4);
  }

  .large-3of4 {
    width: grid-calc(3, 4);
  }

  .large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
